 <!-- start page-title -->
 <section class="page-title">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <h2>Purchases</h2>
              <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Home</a></li>
                <li>Purchases</li>
              </ol>
          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-md-8 col-md-push-4">
              <div class="service-single-content">
<!--                         <h3>What Do You Mean By GST Registration?</h3>
-->                        <p>ERP Purchase helps you to manage various vendors, supplier’s contacts; you can track your purchases, and also get the entire purchase history, etc. It records the purchase requests, orders, returns, various suppliers, etc. which enables you to know the product delivery time, quality, cost, etc. ERP Purchase automates the process to identify the various suppliers, purchase order to the supplier, price, as well as billing process.  </p>
                  <div class="img-holder">
                      <img src="assets/images/erp-purchases.png" alt>
                  </div>
                  <br><br>
<p>From our GstGola, you are allowed to check the statistics of the supplier’s performance through their reporting like discounts given on the products, quantities purchased, delivery delays, etc. And from here, you can make the sales orders, share products, supplier’s customers, and also maintain the invoices for companies.</p>               
<p>ERP is a leading business which helps you to handle the deliveries and that allows you to track the items of your purchase. GstGola also gives the price list of the items, so that you can make your decision smarter. Our integrated purchase management solution gives you the simplified interface to make the best decisions on purchase.</p>
                  <div class="discussion-faq">
                      <div class="discussion">
                            <h4>Purchase Reports and Invoice</h4>
                  <p>The invoice must be created to purchase goods. To make the invoice, you need to enter your general details, order details, billing details, etc. of the product.</p>
                  <ul>
                        <li><i class="fa fa-adjust"></i>  Invoices of the supplier are very simple to enter from the existing purchase.</li>
                        <li><i class="fa fa-adjust"></i>  Each and every screen is broken into two different tabs which show items and expenses.</li>
                        <li><i class="fa fa-adjust"></i>  Items tab shows only the items of the user and the expenses tab shows only expenses of the user.</li>
                        <li><i class="fa fa-adjust"></i>  Line items will be classified and expensed to the projects according to the need of the project.</li>
                      
                  </ul>
                      </div>

                     <!--  <div class="faq">
                          <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Who are exempted from the GST Registration ? </a>
                                  </div>
                                  <div id="collapse-1" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                          <p>The GST Registration is not mandatory for the people like:</p>
                                
                                                <div class="discussion faq-list">   
                                            <ul>
                                                        <li><i class="fa fa-adjust"></i>Who supply agriculture products from the cultivation. </li>
                                                        <li><i class="fa fa-adjust"></i>Makes non-taxable supply of goods and services.</li>
                                                        <li><i class="fa fa-adjust"></i>Making supplies under the reverse charge mechanism</li>

                                                </ul>
                                                </div>
                                            
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Who is a casual taxable person ?</a>
                                  </div>
                                  <div id="collapse-2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>Persons who have registered the business in India and having the supplies from other states in India without a fixed place of business, Such persons are known as Casual Taxable Persons.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">What do you mean by ARN in GST Registration ?</a>
                                  </div>
                                  <div id="collapse-3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>ARN refers to the Application Reference Number which is proof after the submission of the application to the GST servers. And this is generated by the Temporary Reference Number (TRN) and uploading of the documents.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Can we register for GST voluntarily ?</a>
                                    </div>
                                    <div id="collapse-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Yes, entities claiming the input tax credit can register voluntarily, even if it is not liable to register.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Registration granted for any person is permanent or not ?</a>
                                        </div>
                                        <div id="collapse-5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Once the registration is granted, it is permanent unless it is canceled, suspended.</p>
                                            </div>
                                        </div>
                                    </div>
                          </div>
                      </div> --> <!-- end faq -->
                  </div> <!-- end discusssion-faq -->
              </div> <!-- end service-single-content -->
          </div> <!-- end col -->
          <div class="col col-md-4 col-md-pull-8">
              <div class="service-sidebar">
                  <div class="widget link-widget">
                      <ul>
                          <li><a [routerLink]="['/ERP']" >All ERP Services</a></li>
                          <li class="active"><a [routerLink]="['/ERP-Purchases']">Purchases</a></li>
                          <li ><a [routerLink]="['/ERP-Products']">Products </a></li>

                          <li><a [routerLink]="['/ERP-Sales']">Sales</a></li>
                          <li><a [routerLink]="['/ERP-Assets']">Assets and Liabilities</a></li>
                          <li ><a [routerLink]="['/bank']">Bank Transactions</a></li>
                          <li><a [routerLink]="['/ERP-Profit-Loss']">Profit and Loss</a></li>
                          <li><a [routerLink]="['/ERP-Expenses']">Expenses</a></li>
                          <li><a [routerLink]="['/ERP-User-Management']">User management</a></li>
                          <li><a [routerLink]="['/ERP-Vendor-Management']">Vendor Management</a></li>



                        </ul>
                  </div>
                 
                  <div class="widget brochures-widget">
                      <h3>Brochures</h3>
                      <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                      <div class="btns">
                          <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                   </div>
                  </div>

                  <div class="widget contact-widget">
                    <h3>Contact</h3>
                    <ul>
                        <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                        <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                        <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                    </ul>
                </div>
             
                </div>

          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end service-single-section -->


