  <!-- start projects-section-s2 -->
  <section class="projects-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="projects-grid">
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/projects/img-1.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="details-inner">
                                    <ul>
                                        <li><a href="assets/images/projects/img-1.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                    <h3>Pied Piper</h3>
                                    <p class="cat">startup</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/projects/img-2.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="details-inner">
                                    <ul>
                                        <li><a href="assets/images/projects/img-2.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                    <h3>Pied Piper</h3>
                                    <p class="cat">startup</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/projects/img-3.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="details-inner">
                                    <ul>
                                        <li><a href="assets/images/projects/img-3.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                    <h3>Pied Piper</h3>
                                    <p class="cat">startup</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/projects/img-4.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="details-inner">
                                    <ul>
                                        <li><a href="assets/images/projects/img-4.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                    <h3>Pied Piper</h3>
                                    <p class="cat">startup</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/projects/img-5.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="details-inner">
                                    <ul>
                                        <li><a href="assets/images/projects/img-5.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                    <h3>Pied Piper</h3>
                                    <p class="cat">startup</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/projects/img-6.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="details-inner">
                                    <ul>
                                        <li><a href="assets/images/projects/img-6.jpg" class="fancybox"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                    <h3>Pied Piper</h3>
                                    <p class="cat">startup</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col col-md-6">
                <div class="section-title-s5">
                    <h2>Our Best Works</h2>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="skill-progress-bar">
                        <div class="skills">
                            <div class="skill">
                                <h6>Finance</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="85"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>Business</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="98"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>Investment</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="92"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end projects-section-s2 -->
