 <!-- start page-title -->
 <section class="page-title">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <h2>Expenses</h2>
              <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Home</a></li>
                <li>Expenses</li>
              </ol>
          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-md-8 col-md-push-4">
              <div class="service-single-content">
<!--                         <h3>What Do You Mean By GST Registration?</h3>
-->                      
<p>We GstGola will take care of all your expenses and keeps track of the records as well.GstGola Expenses ERP Service helps in simplifying and accomplishing the expenses reporting. We offer various advantages for third-party add-on expense reporting software. Our system identifies the department, customer, function and etc. We mainly concentrate on two things. i.e., Daily Expenses and Monthly Expenses.</p>                  <div class="img-holder">
                      <img src="assets/images/erp-expenses.jpg" alt>
                  </div>
<br>
            
                  <h4 v>Daily Expenses</h4>
                  <p>In Daily Expenses section, we maintain records of the daily expenses such as couriers, paper usage, eatables, water, clothes, footwear etc.</p>
                  <h4>Monthly Expenses</h4>
                  <p>Here we maintain the monthly expenses records of any particular business or organization like Salaries, Rents, Bills, Telephone, Cable TV and Internet, Restaurants etc.</p>
                  <div class="discussion-faq">
                      <div class="discussion">
                            <h4>Important Aspects of Expenses</h4>
<!--                   <p>The invoice must be created to purchase goods. To make the invoice, you need to enter your general details, order details, billing details, etc. of the product.</p>
 -->                  <ul>
                        <li><i class="fa fa-adjust"></i>  <strong>Time-Saving on Expense Reports:</strong> Maintenance of the employee expenses like office supplies, expenditure etc is not an easy task. We need to access all the reports and validate them. All these can be done with the help of our software.</li>
                        <li><i class="fa fa-adjust"></i>  <strong>Easy upload of the receipts:</strong> Here employees can easily attach the receipts of the expenses in the expenses record.</li>
                        <li><i class="fa fa-adjust"></i>  <strong>Team Expenditure:</strong> Concentrate on the expense records of your team and to ensure the costs within the budget.</li>
                      
                  </ul>
                      </div>

                     <!--  <div class="faq">
                          <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Who are exempted from the GST Registration ? </a>
                                  </div>
                                  <div id="collapse-1" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                          <p>The GST Registration is not mandatory for the people like:</p>
                                
                                                <div class="discussion faq-list">   
                                            <ul>
                                                        <li><i class="fa fa-adjust"></i>Who supply agriculture products from the cultivation. </li>
                                                        <li><i class="fa fa-adjust"></i>Makes non-taxable supply of goods and services.</li>
                                                        <li><i class="fa fa-adjust"></i>Making supplies under the reverse charge mechanism</li>

                                                </ul>
                                                </div>
                                            
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Who is a casual taxable person ?</a>
                                  </div>
                                  <div id="collapse-2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>Persons who have registered the business in India and having the supplies from other states in India without a fixed place of business, Such persons are known as Casual Taxable Persons.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">What do you mean by ARN in GST Registration ?</a>
                                  </div>
                                  <div id="collapse-3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>ARN refers to the Application Reference Number which is proof after the submission of the application to the GST servers. And this is generated by the Temporary Reference Number (TRN) and uploading of the documents.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Can we register for GST voluntarily ?</a>
                                    </div>
                                    <div id="collapse-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Yes, entities claiming the input tax credit can register voluntarily, even if it is not liable to register.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Registration granted for any person is permanent or not ?</a>
                                        </div>
                                        <div id="collapse-5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Once the registration is granted, it is permanent unless it is canceled, suspended.</p>
                                            </div>
                                        </div>
                                    </div>
                          </div>
                      </div> --> <!-- end faq -->
                  </div> <!-- end discusssion-faq -->
              </div> <!-- end service-single-content -->
          </div> <!-- end col -->
          <div class="col col-md-4 col-md-pull-8">
              <div class="service-sidebar">
                  <div class="widget link-widget">
                      <ul>
                          <li><a [routerLink]="['/ERP']" >All ERP Services</a></li>
                          <li ><a [routerLink]="['/ERP-Purchases']">Purchases</a></li>
                          <li ><a [routerLink]="['/ERP-Products']">Products </a></li>

                          <li><a [routerLink]="['/ERP-Sales']">Sales</a></li>
                          <li><a [routerLink]="['/ERP-Assets']">Assets and Liabilities</a></li>
                          <li ><a [routerLink]="['/bank']">Bank Transactions</a></li>
                          <li><a [routerLink]="['/ERP-Profit-Loss']">Profit and Loss</a></li>
                          <li class="active"><a [routerLink]="['/ERP-Expenses']">Expenses</a></li>
                          <li><a [routerLink]="['/ERP-User-Management']">User management</a></li>
                          <li><a [routerLink]="['/ERP-Vendor-Management']">Vendor Management</a></li>



                        </ul>
                  </div>
                 
                  <div class="widget brochures-widget">
                      <h3>Brochures</h3>
                      <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                      <div class="btns">
                          <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                   </div>
                  </div>

                  <div class="widget contact-widget">
                    <h3>Contact</h3>
                    <ul>
                        <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                        <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                        <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                    </ul>
                </div>
             
                </div>

          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end service-single-section -->


