

<header id="header" class="site-header header-style-3">
  <div class="topbar">
      <div class="container">
          <div class="row">
              <div class="col col-sm-3">
                  <div class="site-logo">
                      <a href="#" ><img  title="GstGola.com" class="headerlogo" src="assets/images/logo-3.png" alt></a>
                  </div>
              </div>
              <div class="col col-sm-9">
                  <div class="contact-info-s2">
                      <div>
                          <div class="icon">
                              <i class="fi flaticon-clock"></i>
                          </div>
                          <div class="details">
                              <p>Mon-Sat: 9.00 am - 7.00 pm</p>
                              <span>Sunday Closed</span>
                          </div>
                      </div>
                      <div>
                          <div class="icon">
                              <i class="fi flaticon-arrows"></i>
                          </div>
                          <div class="details">
                              <p>380 St Kilda Road, Melbourne,</p>
                              <span>VIC 3004, Australia</span>
                          </div>
                      </div>
                      <div>
                          <div class="icon">
                              <i class="fi flaticon-phone-call"></i>
                          </div>
                          <div class="details">
                              <p>+123 457 64 937</p>
                              <span>(Call for enquiry)</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> <!-- end container -->
  </div> <!-- end topbar -->
  </header>