 <!-- start page-title -->
 <section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>GST Migration</h2>
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li>GST Migration</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>        
  <!-- end page-title -->
  
  
  <!-- start service-single-section -->
  <section class="service-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-push-4">
                <div class="service-single-content">
                    <h4>Easy GST Migration Process</h4>
                    <p>Have you not yet migrated to GST? Then do it right now.
                         GST Migration is the first step to complete by the every business owner. 
                         The existing taxpayers must soon register under GST. 
                         Individual taxpayers registered under VAT/Service/Tax must enroll on the common portal by validating the email address, mobile number. Or else by directly through facilitation center which is notified by the commissioner. On completion of the provisional registration, the provisional\
                         registration must be converted into final registration.</p>
                   
                    <div class="img-holder">
                            <img src="assets/images/gst-migration.png" alt="">     
                        </div>
                    <br>
                 
  
                    <div class="discussion-v">
                          <div class="discussion">
                    <h4>Steps for GST Migration Process</h4>
                    <p>To Migrate to GST, the individual taxpayers must have to follow the below migration steps.</p>
                    <ul>
                        <li><i class="fa fa-adjust"></i> Firstly create the user ID and password on the common portal.</li>
                        <li><i class="fa fa-adjust"></i> Enter your business details.</li>
                        <li><i class="fa fa-adjust"></i> Enter the details of the Proprietor, Manager, Director, and Partner.</li>
                        <li><i class="fa fa-adjust"></i> Fill the details of the Authorized Signature.</li>
                        <li><i class="fa fa-adjust"></i> Details of the Principal Place of Business, Additional Place of Business.</li>
                        <li><i class="fa fa-adjust"></i> Enter the details of the Supplied Goods and Services.</li>
                        <li><i class="fa fa-adjust"></i> Also, enter the Bank Account details.</li>
                        <li><i class="fa fa-adjust"></i> And the last step is the final verification.</li>
  
  
                    </ul>
                    </div></div>
  
                    <div class="discussion-faq">
                        <div class="discussion">
                              <h4>Eligibility for Migration to GST</h4>
                    <p>Taxpayers are responsible for registering under the GST System. Therefore the individuals registered with the following authorities are eligible for the GST Migration process.</p>
                    <ul>
                          <li><i class="fa fa-adjust"></i>  VAT</li>
                          <li><i class="fa fa-adjust"></i>  Service Tax</li>
                          <li><i class="fa fa-adjust"></i>  Central Excise</li>
                          <li><i class="fa fa-adjust"></i>  Entertainment Tax</li>
                          <li><i class="fa fa-adjust"></i>  Luxury Tax</li>
                          <li><i class="fa fa-adjust"></i>  Entry Tax</li>
                          
                    </ul>
                        </div>
  
                        <div class="faq">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Is GST Migration and Registration is different in case of GST ? </a>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Yes, Migration and Registration are two different processes under GST. And this Migration is the first step in the GST Registration.</p>
                                                 
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Who is required to Migrate or Enroll under GST ?</a>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>If you are the existing dealer under VAT, then you need to migrate/enroll under the GST.</p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"> Does GST Migration/Enrollment is mandatory for the Taxpayers ?</a>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Yes, Migration to GST is mandatory for the taxpayers under the GST Law. </p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">What happens if I do not update my GSTIN ?</a>
                                      </div>
                                      <div id="collapse-4" class="panel-collapse collapse">
                                          <div class="panel-body">
                                              <p>One should update the GST IN or else you will be not able to take advantage of credits on the tax we collect.</p>
                                          </div>
                                      </div>
                                  </div>
  
                                  <div class="panel panel-default">
                                          <div class="panel-heading">
                                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Is there is a fee for enrolling in the GST system portal ?</a>
                                          </div>
                                          <div id="collapse-5" class="panel-collapse collapse">
                                              <div class="panel-body">
                                                  <p>No there is no fee or charge levied on the taxpayer for the enrollment on the GST System portal.</p>
                                              </div>
                                          </div>
                                      </div>
                            </div>
                        </div> <!-- end faq -->
                    </div> <!-- end discusssion-faq -->
                </div> <!-- end service-single-content -->
            </div> <!-- end col -->
            <div class="col col-md-4 col-md-pull-8">
                <div class="service-sidebar">
                    <div class="widget link-widget">
                        <ul>
                            <li><a [routerLink]="['/services']" >All Services</a></li>
                            <li ><a [routerLink]="['/GST-Registration']">GST Registration </a></li>
                            <li><a [routerLink]="['/GST-Retrurn-Filling']">GST Return Filing</a></li>
                            <li class="active"><a [routerLink]="['/GST-Migration']">GST Migration</a></li>
                            <li><a [routerLink]="['/GST-Software']">GST Software And Tool</a></li>
                            <li><a [routerLink]="['/GST-Assessment']">GST Assessment</a></li>
                            <li><a [routerLink]="['/GST-Service-Provider']">GSP And ASP Service Provider</a></li>
                        </ul>
                    </div>
                   
                    <div class="widget brochures-widget">
                        <h3>Brochures</h3>
                        <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                        <div class="btns">
                            <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                     </div>
                    </div>

                    <div class="widget contact-widget">
                        <h3>Contact</h3>
                        <ul>
                            <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                            <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                            <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- end service-single-section -->
  
  
  