
        <!-- start page-title -->
        <section class="page-title">
          <div class="container">
              <div class="row">
                  <div class="col col-xs-12">
                      <h2>About us</h2>
                      <ol class="breadcrumb">
                        <li><a [routerLink]="['/']">Home</a></li>
                        <li>About us</li>
                      </ol>
                  </div>
              </div> <!-- end row -->
          </div> <!-- end container -->
      </section>        
      <!-- end page-title -->


      <!-- start about-section -->
      <section class="section-padding about-section-s5">
          <div class="container">
              <div class="row">
                  <div class="col col-lg-8 col-md-10">
                      <div class="section-title-s2">
                          <h2>Our GSTgola goal is to make customers feel they’re secured</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col col-md-7">
                      <div class="about-details">
                          <p>GstGola is the best GST Software providing website for the enterprises which helps out in almost everything related to the GST compliance. These days GST has a great impact on each and every business irrespective of the sectors. GstGola is the perfect place where you can have a complete understanding about the GST services, GST returns, GST Invoice, Transition to GST and  a lot more. It is the right place for you where you can freely download the GST software both for Accounting and Filling purpose. We work as a team to deliver the feasible solutions to our clients. With our team efforts, we provide the value added services to the customers with innovative solutions. GstGola has achieved its rank in today's GST world where it delivers the successful GST services to its clients in an effective way.
                        </p>
                          <h3>Right Now</h3>
                          <p>GstGola has the professional team with tax accounts and tax filing. We have understood that there are a lot of complications in the present GST system. So we have come with the latest software which overcomes all the issues and finds out the best solutions to your problems as well. The main motto of the GstGola is to help out everyone who is facing the difficulty with GST taxes, accounts which involves technical provisions for the new GST system. It is designed to configure the dynamic GST rules and a separate database which is secured.
                            Finally, GstGola is the best choice for the people who are looking for the GST software and its feasibleness in filing and accounting sections. </p>
<p>GstGola has a unique place in the business world to deliver the best GST solutions to its clients. And the experts in the GstGola research for the new and upcoming events in the GST environment and hence deliver the creative solutions for GST. This GstGola platform allows the customers or clients to get ready for the GST rollouts and the changes in the GST for the upcoming years. The success story of the GstGola lies behind the creative solutions, products and services and its targets to meet the needs of the customers.</p>                      </div>

</div>

                  <div class="col col-md-5">
                      <div class="about-img">
                          <img src="assets/images/aboutus.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div> <!-- end container -->
      </section>        
      <!-- end about-section -->        

      <app-contact></app-contact>


<!-- start testimonials-section -->
<section class="testimonials-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <div class="section-title">
                  <h2>Testimonials</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col col-lg-10 col-lg-offset-1">
              <div class="testimonials-slider testimonials-grids">
                  <div class="grid">
                      <div class="client-pic">
                          <img src="assets/images/user1.png" alt>
                      </div>
                      <div class="details">
                          <h4>Monica Hall</h4>
                          <span class="client-post">CEO, Bream-Hall Partners</span>
                          <p>After experiencing with many accounting softwares, I have chosen the GstGola.com, which is the perfect site for simple taxation. It is an excellent assistance GST service provider. </p>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="client-pic">
                          <img src="assets/images/user1.png" alt>
                      </div>
                      <div class="details">
                          <h4>Jared Dunn</h4>
                          <span class="client-post">CEO, Bream-Hall Partners</span>
                          <p>There is no complexity in GST with the help of GstGola. GstGola provides the best software with the booming technology. My experience with GstGola is well that it is time-effective, simple and free from errors. </p>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="client-pic">
                          <img src="assets/images/user1.png" alt>
                      </div>
                      <div class="details">
                          <h4>Richard Henrics</h4>
                          <span class="client-post">CEO, Bream-Hall Partners</span>
                          <p>GstGola has got an incredible team in solving issues within minutes. This is an added advantage to my business.  I have been a part of GstGola for the past one year which hindrances from the tax burdens.</p>
                      </div>
                  </div>

                  <div class="grid">
                        <div class="client-pic">
                            <img src="assets/images/user1.png" alt>
                        </div>
                        <div class="details">
                            <h4>Karen Murphy</h4>
                            <span class="client-post">CEO, Bream-Hall Partners</span>
                            <p>I am thankful to GstGola that all my problems with the Goods and Services tax have been solved. Happy to be with GstGola.com. My suggestion be a part of GstGola to be free from tax burdens.</p>
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </div> <!-- end container -->
</section>
<!-- end testimonials-section -->

