 <!-- start page-title -->
 <section class="page-title">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <h2>Products</h2>
              <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Home</a></li>
                <li>Products</li>
              </ol>
          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-md-8 col-md-push-4">
              <div class="service-single-content">
<!--                         <h3>What Do You Mean By GST Registration?</h3>
-->  <p>Product management is the ongoing process of moving the products into and out of the company’s location. We maintain the products on the daily basis when the orders are placed or shipped. </p>                 
                  <div class="img-holder">
                    <img src="assets/images/erp-products.jpg" alt>
                </div>
                  <br><br>
<p>Product management service allows you to take orders, sell more, or work smarter. With our product maintenance service, you can grow your business, and you can concentrate more on profits without any worries. Stock management gives you greater control on your business.</p>               

                  <div class="discussion-faq">
                      <div class="discussion">
                            <h4> Features of Our ERP Products</h4>
                  <p>Look at the below features given by the GstGola product management.</p>
                  <ul>
                        <li><i class="fa fa-adjust"></i>  <strong>Product Control:</strong> We improve the product or stock tracking through the updated stock levels. Stock levels are updated automatically when the sales and purchases are made. GstGola maintains all your products in multiple warehouses with multiple currencies.</li>
                        <li><i class="fa fa-adjust"></i>  <strong>Purchasing:</strong> We create, modify, and email the purchase orders. And you are allowed to check the reports of the orders.</li>
                        <li><i class="fa fa-adjust"></i>  <strong>Order Management:</strong> We increase your business efficiency by synchronizing your orders. You can integrate the orders and access the reports of sales in real time.</li>
                        <li><i class="fa fa-adjust"></i>  <strong>Order fulfillment:</strong> You are allowed to control your orders at a lower price and in a greater volume. And you can integrate your channels, locations, etc.</li>                     
                        <li><i class="fa fa-adjust"></i>  <strong>Product Reports:</strong> We give the accurate product reports in real time. Our product maintenance service allows you to run the reorder reports of the stock, etc.</li>
                        <li><i class="fa fa-adjust"></i>  <strong>Sales Reports:</strong> GstGola gives you the accurate reports on sales which give the insights to make better decisions on your business. We also allow you to generate the history and order reports of sales by product, customer, location, channel, and many more.</li>
                        <li><i class="fa fa-adjust"></i>  <strong>Price List:</strong> Maintaining the price list of the product is important to run your business efficiently. GstGola allows you to maintain the custom price list for customer types, various currencies, categories of the products, etc.</li>
                        <li><i class="fa fa-adjust"></i>  <strong>Mobile App:</strong> GstGola provides a mobile application to the Android and iOS users where you can maintain the customers, products of your orders.</li>

                      
                  </ul>
                      </div>

                     <!--  <div class="faq">
                          <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Who are exempted from the GST Registration ? </a>
                                  </div>
                                  <div id="collapse-1" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                          <p>The GST Registration is not mandatory for the people like:</p>
                                
                                                <div class="discussion faq-list">   
                                            <ul>
                                                        <li><i class="fa fa-adjust"></i>Who supply agriculture products from the cultivation. </li>
                                                        <li><i class="fa fa-adjust"></i>Makes non-taxable supply of goods and services.</li>
                                                        <li><i class="fa fa-adjust"></i>Making supplies under the reverse charge mechanism</li>

                                                </ul>
                                                </div>
                                            
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Who is a casual taxable person ?</a>
                                  </div>
                                  <div id="collapse-2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>Persons who have registered the business in India and having the supplies from other states in India without a fixed place of business, Such persons are known as Casual Taxable Persons.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">What do you mean by ARN in GST Registration ?</a>
                                  </div>
                                  <div id="collapse-3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>ARN refers to the Application Reference Number which is proof after the submission of the application to the GST servers. And this is generated by the Temporary Reference Number (TRN) and uploading of the documents.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Can we register for GST voluntarily ?</a>
                                    </div>
                                    <div id="collapse-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Yes, entities claiming the input tax credit can register voluntarily, even if it is not liable to register.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Registration granted for any person is permanent or not ?</a>
                                        </div>
                                        <div id="collapse-5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Once the registration is granted, it is permanent unless it is canceled, suspended.</p>
                                            </div>
                                        </div>
                                    </div>
                          </div>
                      </div> --> <!-- end faq -->
                  </div> <!-- end discusssion-faq -->
              </div> <!-- end service-single-content -->
          </div> <!-- end col -->
          <div class="col col-md-4 col-md-pull-8">
              <div class="service-sidebar">
                  <div class="widget link-widget">
                      <ul>
                          <li><a [routerLink]="['/ERP']" >All ERP Services</a></li>
                          <li><a [routerLink]="['/ERP-Purchases']">Purchases</a></li>

                          <li class="active"><a [routerLink]="['/ERP-Products']">Products </a></li>
                          <li><a [routerLink]="['/ERP-Sales']">Sales</a></li>
                          <li><a [routerLink]="['/ERP-Assets']">Assets and Liabilities</a></li>
                          <li ><a [routerLink]="['/bank']">Bank Transactions</a></li>
                          <li><a [routerLink]="['/ERP-Profit-Loss']">Profit and Loss</a></li>
                          <li><a [routerLink]="['/ERP-Expenses']">Expenses</a></li>
                          <li><a [routerLink]="['/ERP-User-Management']">User management</a></li>
                          <li><a [routerLink]="['/ERP-Vendor-Management']">Vendor Management</a></li>



                        </ul>
                  </div>
                 
                  <div class="widget brochures-widget">
                      <h3>Brochures</h3>
                      <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                      <div class="btns">
                          <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                   </div>
                  </div>

                  <div class="widget contact-widget">
                    <h3>Contact</h3>
                    <ul>
                        <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                        <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                        <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                    </ul>
                </div>
             
                </div>

          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end service-single-section -->


