


        <!-- start page-title -->
        <section class="page-title">
          <div class="container">
              <div class="row">
                  <div class="col col-xs-12">
                      <h2>ERP Services</h2>
                      <ol class="breadcrumb">
                        <li><a [routerLink]="['/']">Home</a></li>
                        <li>ERP Services</li>
                      </ol>
                  </div>
              </div> <!-- end row -->
          </div> <!-- end container -->
      </section>        
      <!-- end page-title -->


      <!-- start services-pg-section -->
      <section class="services-pg-section section-padding">
          <div class="container">
              <div class="row">
                  <div class="col col-xs-12">
                      <div class="services-grid-s2">
                          <div class="grid">
                              <div class="icon">
                                <img src="assets/svg-icons/erp-purchase1.svg" class="svi" alt="erp-purchases">

                            </div>
                              <div class="details">
                                  <h3>Purchases</h3>
                                  <p>The purchase is one of the considerable parts of the manufacturing industry. ERP Purchase streamlines the acquisition of essentials raw materials, subassembly, packaging products, and other non-inventory materials.</p>
                                  <a [routerLink]="['/ERP-Purchases']" class="read-more">Read More</a>
                              </div>
                             
                              <div class="hover-grid">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>
                          <div class="grid">
                              <div class="icon">
                                    <img src="assets/svg-icons/erp-products1.svg" class="svi" alt="erp-products">

                            </div>
                              <div class="details">
                                  <h3>Products</h3>
                                  <p>Every business suffers from stock or product management problems. Inventory or product management helps you to grow your business easily. GstGola product management service helps you to manage all your inventories, orders, etc. </p>
                                  <a [routerLink]="['/ERP-Products']"  class="read-more">Read More</a>
                              </div>
                              <div class="hover-grid">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>
                          <div class="grid">
                              <div class="icon">
                                    <img src="assets/svg-icons/erp-sale1.svg" class="svi" alt="erp-sales">

                              </div>
                              <div class="details">
                                  <h3>Sales</h3>
                                  <p>ERP Sales allows you to maintain and track the sales process efficiently. Sales process includes the order placements, scheduling, invoicing, and shipping. The sales process gives the flexibility for business owners in orders, returns, and invoices.
                                  </p>
                                  <a [routerLink]="['/ERP-Sales']" class="read-more">Read More</a>
                              </div>
                              <div class="hover-grid">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>
                          <div class="grid">
                              <div class="icon">
                                    <img src="assets/svg-icons/erp-assets1.svg" class="svi" alt="erp-assets-liabilities">

                            </div>
                              <div class="details">
                                  <h3>Assets and Liabilities</h3>
                                  <p>Assets and liabilities are two common things in any business. Assets are defined as resources which help you to gain profit to your business and liabilities presents future obligation. A successful business indicates that it has a high proportion of assets to liabilities. </p>
                                  <a [routerLink]="['/ERP-Assets']" class="read-more">Read More</a>
                              </div>
                                                             
                              <div class="hover-grid">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>
                          <div class="grid">
                              <div class="icon">
                                    <img src="assets/svg-icons/erp-bank-transaction1.svg" class="svi" alt="erp-bank-transactions">

                            </div>
                              <div class="details">
                                  <h3>Bank Transactions</h3>
                                  <p>The Banking Transactions module of our ERP services will keep track of all the accounts related transactions such as account ledgers, budgeting, balance sheets, tax management, payment receipts, bank statements etc.  Complete inflow and outflow of the capital or money will be managed in this module. </p>
                                  <a [routerLink]="['/bank']" class="read-more">Read More</a>
                              </div>
                              <div class="hover-grid">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>

                          <div class="grid">
                                <div class="icon">
                                        <img src="assets/svg-icons/erp-profit1.svg" class="svi" alt="erp-profit-loss">

                                </div>
                                <div class="details">
                                    <h3>Profit and Loss</h3>
                                    <p>The ERP Profit and Loss is the financial report for the company revenues and expenses for a particular period of time. With the help of this report, you can prepare the profit and loss statements. This Profit and Loss statement is also said to be the income statement which gives the information about the incomes and expenses.  </p>
                                    <a [routerLink]="['/ERP-Profit-Loss']" class="read-more">Read More</a>
                                </div>
                                <div class="hover-grid">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                          
                            
                            <div class="grid">
                                    <div class="icon">
                                            <img src="assets/svg-icons/erp-expenses1.svg" class="svi" alt="erp-expenses">

                                    </div>
                                    <div class="details">
                                        <h3>Expenses</h3>
                                        <p>Expenses are one of the major factors in the ERP Services. Every organization must have the expenses records for the profitability of the organization. The expenses list are the crucial part of any business or organization. We need to spend some amount of capital for the business purposes and as well as maintains the daily and monthly expenses records. </p>
                                        <a [routerLink]="['/ERP-Expenses']" class="read-more">Read More</a>
                                    </div>
                                    <div class="hover-grid">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                          
                                
                                <div class="grid">
                                        <div class="icon">
                                                <img src="assets/svg-icons/erp-user1.svg" class="svi" alt="erp-user-management">

                                        </div>
                                        <div class="details">
                                            <h3>User Management</h3>
                                            <p>The main functionality of GstGola ERP Services is to create the username and password, and also provides the authorization for the users. Our User Management permits to manage users with high safety and security. In this user management section, the admin has the right to delete, add or modify the no. of users. </p>
                                            <a [routerLink]="['/ERP-User-Management']" class="read-more">Read More</a>
                                        </div>
                                        <div class="hover-grid">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                          
                                    
                                    <div class="grid">
                                            <div class="icon">
                                                    <img src="assets/svg-icons/erp-vendor1.svg" class="svi" alt="erp-vendor-management">

                                            </div>
                                            <div class="details">
                                                <h3>Vendor Management</h3>
                                                <p>A Vendor is the one who provides the supply of goods and services to the organization or company. Basically, the vendor manufactures the items and sells them to the customer. When the vendor management includes adding the new supplier to the vendor database, invoice creations and order management. </p>
                                                <a [routerLink]="['/ERP-Vendor-Management']" class="read-more">Read More</a>
                                            </div>
                                            <div class="hover-grid">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                        

                      </div>
                  </div>
              </div>
          </div> <!-- end container -->
      </section>
      <!-- end services-pg-section -->

        
<!-- <app-footer-top></app-footer-top>
<app-footer-copyright></app-footer-copyright> -->