
<header id="header" class="site-header header-style-3">
  <nav class="navigation navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
           <a [routerLink]="['/']"> <img class="headerlogo" src="/assets/images/logo-3.png" alt="gstgola"></a>
            <button type="button" class="open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse navigation-holder">
            <button class="close-navbar"><i class="fa fa-close"></i></button>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/About']">About</a></li>
                <li class="menu-item-has-children">
                    <a [routerLink]="['/services']">GST Services</a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['/services']" >All Services</a></li>
                        <li><a [routerLink]="['/GST-Registration']" >GST Registration</a></li>
                        <li><a [routerLink]="['/GST-Retrurn-Filling']" >GST Return Filing </a></li>
                        <li><a [routerLink]="['/GST-Migration']">GST Migration</a></li>
                        <li><a [routerLink]="['/GST-Software']">GST Software And Tool</a></li>
                        <li><a [routerLink]="['/GST-Assessment']">GST Assessment</a></li>
                        <li><a [routerLink]="['/GST-Service-Provider']">GSP and ASP Service Provider</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a [routerLink]="['/ERP']">ERP Services </a>
                    <ul class="sub-menu">
                            <li><a [routerLink]="['/ERP']">All ERP Services</a></li>
                        <li><a [routerLink]="['/ERP-Purchases']">Purchases</a></li>
                        <li><a [routerLink]="['/ERP-Products']">Products</a></li>
                        <li><a  [routerLink]="['/ERP-Sales']">Sales</a></li>
                        <li><a [routerLink]="['/ERP-Assets']">Assets and Liabilities</a></li>
                        <li><a [routerLink]="['/bank']">Bank Transactions</a></li>
                        <li><a [routerLink]="['/ERP-Profit-Loss']">Profit and Loss</a></li>
                        <li><a [routerLink]="['/ERP-Expenses']">Expenses</a></li>
                        <li><a [routerLink]="['/ERP-User-Management']">User Management</a></li>
                        <li><a [routerLink]="['/ERP-Vendor-Management']">Vendor Management</a></li>
                   </ul>
                </li>
                <li><a [routerLink]="['/Pricing']">Pricing</a></li>
                <li><a [routerLink]="['/News']">News</a></li>
                <li><a [routerLink]="['/Contact-Nav']">Contact</a></li>
            </ul>
        </div><!-- end of nav-collapse -->
        <div class="search-social">
            <div class="social-links">
                <ul>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/login?lang=en" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://in.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://plus.google.com/discover" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               </ul>
            </div>
           
        </div>
    </div><!-- end of container -->
</nav>
</header>
<!-- end of header -->


 