<footer class="site-footer">
<div class="copyright-info">
  <div class="container">
      <div class="row">
          <div class="col col-xs-6">
              <div class="copyright-area">
                  <p>2022 &copy; GstGola.com, All Rights Reserved.</p>
              </div>
          </div>
          <div class="col col-xs-6">
              <div class="footer-social">
                  <span>Follow us: </span>
                  <ul class="social-links">
                      <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                      <li><a href="https://twitter.com/login?lang=en" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                      <li><a href="https://in.linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                      <li><a href="https://plus.google.com/discover" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
<!--                       <li><a href="#"><i class="fa fa-rss-square"></i></a></li>
 -->                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
</footer>
