


        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Services</h2>
                        <ol class="breadcrumb">
                            <li><a [routerLink]="['/']">Home</a></li>
                            <li>Services</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start services-pg-section -->
        <section class="services-pg-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="services-grid-s2">
                            <div class="grid">
                                <div class="icon">
                                   <img src="assets/svg-icons/gst-register.svg" class="svi"  alt="gst-registration">
                                </div>
                                <div class="details">
                                    <h3>GST Registration</h3>
                                    <p>GST is the Goods and Service Tax which includes all the taxes like Sales tax, Excise Duty tax, Service tax, etc. Under the GST regime, the business whose turnover is more than Rs.20 lakhs must register under GST.</p>
                                    <a [routerLink]="['/GST-Registration']" class="read-more">Read More</a>
                                </div>
                               
                                <div class="hover-grid">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                        <img src="assets/svg-icons/gst-return-filling.svg" class="svi"  alt="gst-return-filling">

                                </div>
                                <div class="details">
                                    <h3>GST Return Filing</h3>
                                    <p>GST Returns are must file by the users who have registered under GST. Goods and Services Tax simplifies the indirect tax system in India. GST Returns are must be filed by the tax person even if zero takes place. </p>
                                    <a [routerLink]="['/GST-Retrurn-Filling']"  class="read-more">Read More</a>
                                </div>
                                <div class="hover-grid">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                        <img src="assets/svg-icons/gst-migrate.svg" class="svi"  alt="gst-migration">

                                </div>
                                <div class="details">
                                    <h3>GST Migration</h3>
                                    <p>GST Migration is the process of enrolling for the existing indirect tax assessees. (assessees in the sense VAT Service tax and Central Excise.) GST Migration is important for a firm or an individual whose annual income is more than Rs. 20 Lakhs.
                                    </p>
                                    <a [routerLink]="['/GST-Migration']" class="read-more">Read More</a>
                                </div>
                                <div class="hover-grid">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                        <img src="assets/svg-icons/gst-software-tool.svg" class="svi"  alt="gst-software-tool">
                                </div>
                                <div class="details">
                                    <h3>GST Software and Tool</h3>
                                    <p>GST Software is the backbone for smooth GST and clear operations that provides the need for its users. And for easy management of different business process this GST Accounting Software will be helpful to you. GstGola offers the GST Software & Tool that allows you to control all your business needs. </p>
                                    <a [routerLink]="['/GST-Software']" class="read-more">Read More</a>
                                </div>
                                                               
                                <div class="hover-grid">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                        <img src="assets/svg-icons/gst-assessment.svg" class="svi"  alt="gst-assessment">
                                </div>
                                <div class="details">
                                    <h3>GST Assessment</h3>
                                    <p>GST Assessment is required for establishing the tax liability of a taxpayer. Assessment is the process of determining the tax liability of the assessee. Under the GST law, there are different ways for the GST Assessment. Taxation Laws are the way to get to know how much exactly the tax should be paid. </p>
                                    <a [routerLink]="['/GST-Assessment']" class="read-more">Read More</a>
                                </div>
                                <div class="hover-grid">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                        <img src="assets/svg-icons/gsp-asp.svg" class="svi"  alt="gsp-asp-service-provider">

                                </div>
                                <div class="details">
                                    <h3>GSP and ASP Service Provider</h3>
                                    <p>Goods and Service Tax Network (GSTN) has approved our GstGola in ASP of GSP. GSTN allows the approved GSPs under the Goods and Service Tax Network to connect the GSTN using the published APIs. GstGola has the best team to solve all the needs of taxpayers.
                                    </p>
                                    <a [routerLink]="['/GST-Service-Provider']" class="read-more">Read More</a>
                                </div>
                                <div class="hover-grid">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end services-pg-section -->


        
       
<!-- <app-footer-top></app-footer-top>
<app-footer-copyright></app-footer-copyright> -->