 <!-- start of hero -->   
 <section class="hero hero-style-2 hero-slider-wrapper">
  <div class="hero-slider">
      <div class="slide">
          <img src="assets/images/11.png" alt class="slider-bg">
          <div class="container">
              <div class="row">
                  <div class="col col-md-8 col-sm-9 slide-caption">
                      <h2>GstGola Offers GST Billing Software Solutions to Your Smart Business</h2>
                      <p>GstGola provides GST Software and helps you to fulfill all your GST compliances. You can calculate the GST by GST Software application. With the help of our GST Software, you can generate invoices, e-payment of taxes, etc. .</p>
                      <div class="btns">
                          <a [routerLink]="['/About']" class="theme-btn">About us</a>
                          <a [routerLink]="['/services']" class="theme-btn-s2">Our Services</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="slide">
          <img src="assets/images/124.jpg" alt class="slider-bg">
          <div class="container">
              <div class="row">
                  <div class="col col-md-8 col-sm-9 slide-caption">
                      <h2>File Your GST Returns Error Freely From GstGola</h2>
<p>GST Returns are must be done by individuals who have registered under GST. Our GstGola is here to file all your GST Returns easily</p>                      <div class="btns">
                          <a [routerLink]="['/About']" class="theme-btn">About us</a>
                          <a [routerLink]="['/services']"class="theme-btn-s2">Our Services</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="slide">
          <img src="assets/images/145.png" alt class="slider-bg">

          <div class="container">
              <div class="row">
                  <div class="col col-md-8 col-sm-9 slide-caption">
                      <h2>Customized ERP Solutions by GstGola</h2>
                      <p>GstGola offers the best ERP solutions which help you to grow your business easily. Our ERP Solutions includes Sales, Purchases, liabilities, assessments, profit, and loss reports. </p>
                      <div class="btns">
                          <a [routerLink]="['/About']"class="theme-btn">About us</a>
                          <a [routerLink]="['/services']" class="theme-btn-s2">Our Services</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end of hero slider -->

