 <!-- start page-title -->
 <section class="page-title">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <h2>Pricing </h2>
              <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Home</a></li>
                <li>Pricing </li>
              </ol>
          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start pricing-section -->
<section class="pricing-pg-section pricing-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <div class="pricing-grids pricing-slider">
                  <div class="grid">
                      <div class="pricing-header">
                          <p class="type">Starter</p>
                          <h3>$559</h3>
                          <p class="duration">per consulting</p>
                      </div>
                      <div class="pricing-body">
                          <p>Lorem ipsum dolor sit amet Consectetur adipiscing elit sed Do eiusmod tem incid ut aliquip id Ut labore et dolore mana</p>
                          <a href="#" class="theme-btn">Start plan</a>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="pricing-header">
                          <p class="type">Starter</p>
                          <h3>$559</h3>
                          <p class="duration">per consulting</p>
                      </div>
                      <div class="pricing-body">
                          <p>Lorem ipsum dolor sit amet Consectetur adipiscing elit sed Do eiusmod tem incid ut aliquip id Ut labore et dolore mana</p>
                          <a href="#" class="theme-btn">Start plan</a>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="pricing-header">
                          <p class="type">Starter</p>
                          <h3>$559</h3>
                          <p class="duration">per consulting</p>
                      </div>
                      <div class="pricing-body">
                          <p>Lorem ipsum dolor sit amet Consectetur adipiscing elit sed Do eiusmod tem incid ut aliquip id Ut labore et dolore mana</p>
                          <a href="#" class="theme-btn">Start plan</a>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="pricing-header">
                          <p class="type">Starter</p>
                          <h3>$559</h3>
                          <p class="duration">per consulting</p>
                      </div>
                      <div class="pricing-body">
                          <p>Lorem ipsum dolor sit amet Consectetur adipiscing elit sed Do eiusmod tem incid ut aliquip id Ut labore et dolore mana</p>
                          <a href="#" class="theme-btn">Start plan</a>
                      </div>
                  </div>
              </div>
          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end pricing-section -->        
