 <!-- start page-title -->
 <section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>GST Assessment</h2>
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li>GST Assessment</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>        
  <!-- end page-title -->
  
  
  <!-- start service-single-section -->
  <section class="service-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-push-4">
                <div class="service-single-content">
                  <h4>Get to Know About GST Assessments</h4>
                  <p>The Goods and Service tax combines all the indirect taxes under one tree and makes the business globally competitive. Taxation Laws are the way to get to know how much exactly the tax should be paid. </p>
                  
                  <p>Basically, there are two types of assessments. </p>

                  <div class="discussion">

                  <ul class="ull">
                      <li><i class="fa fa-adjust"></i> Assessments by a taxable person.</li>
                      <li><i class="fa fa-adjust"></i> Assessments by the tax authorities.</li>
                  </ul>
</div>
                    
                  <div class="img-holder">
                            <img src="assets/images/gst-assessment.PNG" alt="">     
                        </div>
                    <br><br>
                 
  
                    <div class="discussion-v">
                                    <div class="discussion">
                                          <h4>Different Types of Tax Assessments</h4>
                                     <ul>
                                      <li><i class="fa fa-adjust"></i>  <strong>Self Assessment:</strong> The registered tax payers must assess the tax on their own and provide the returns for the tax period.</li>
                                      <li><i class="fa fa-adjust"></i>  <strong>Provisional Assessment:</strong> This Provisional Assessment will be conducted based on the following circumstances.
                                        <ul class="ull">
                                            <li> i. When the taxpayer is unable to determine the goods and services.</li>
                                            <li> ii. When he is unable to regulate the tax which is applicable to both the goods and services.</li>
                                        </ul>
                                     </li>
                                     <li><i class="fa fa-adjust"></i><strong>Scrutiny Assessment:</strong> And this assessment is done to verify the correctness of the information available on the returns.</li>
                                     <li><i class="fa fa-adjust"></i><strong>Summary Assessment:</strong> Both the Summary and Regular Assessments are similar to each other. The assessing officer passes the summary assessment in prior to the additional/joint commissioner.
                                     </li>
            
            
                                     <li><i class="fa fa-adjust"></i>  <strong>Best Judgement Assessment:</strong>
                                        <ul class="ull">
                                            <li> i. <strong>Assessment of Non-filer Returns:</strong> If the registered taxpayers do not file his returns even after the notice, then the related officer will assess the tax liability to the best of his Judgement.</li>
                                            <li>ii. <strong>Assessment of Unregistered Persons:</strong> This comes into picture when the taxpayer fails to register even though he is supposed to do.</li>
                                        </ul>
                                     </li>
            
                                    </ul>
                                    </div>
                    </div>
  
                    <div class="discussion-faq">
                            <div class="discussion">
                            <h4>Advance Ruling</h4>
<!--                             <p>Taxpayers are responsible for registering under the GST System. Therefore the individuals registered with the following authorities are eligible for the GST Migration process.</p>
 -->                            <ul>
                                  <li><i class="fa fa-adjust"></i>  The Advance ruling is the written interpretation of the tax laws. </li>
                                  <li><i class="fa fa-adjust"></i>  This Advance ruling is the tax authority for the corporations and individuals regarding the tax matters.</li>
                                  <li><i class="fa fa-adjust"></i>  According to GST, the advance ruling is the applicants based on the questions related to the Goods and Services. </li>
                                  <li><i class="fa fa-adjust"></i>  And the advance ruling is applicable, before the start of the proposed activity. An Advance ruling will be sent to the first authority. </li>
                                  <li><i class="fa fa-adjust"></i>  Any person who is not satisfied with the advance ruling can appeal to the Appellate authority for the advance ruling. </li>
                                  <li><i class="fa fa-adjust"></i>  GST has the provision for the taxpayers to request for the clarifications from the authorities on a particular tax-related matter or any proposed activity.</li>
                                  
                            </ul>
                                </div>
                        
  
                        <div class="faq">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true">Who are all responsible for making an assessment of tax payable under the Act ? </a>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                                <p>Individuals registered under the GST must assess the tax payable by him/her. And after this assessment, they can file the returns required under this Act.</p>                                                 
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">What is the limited time for passing the assessment order under section 46 and 47 ?</a>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>The time limit is three or five years right from the due date of filing the annual returns.</p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"> What is the duration for the completion of the audits ?</a>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>The audit must have to complete within three months from the audit commencement. Later this time period has been extended to six months by the commissioner. </p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Who serves the notice for the special audit ?</a>
                                      </div>
                                      <div id="collapse-4" class="panel-collapse collapse">
                                          <div class="panel-body">
                                              <p>A Chartered Account or the Cost Accountant who is nominated by the Commissioner will serve the notice for the special audit.</p>
                                          </div>
                                      </div>
                                  </div>
  
                                  <div class="panel panel-default">
                                          <div class="panel-heading">
                                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Who bears the cost of the special audit ?</a>
                                          </div>
                                          <div id="collapse-5" class="panel-collapse collapse">
                                              <div class="panel-body">
                                                  <p>The borne of the Commissioner determines the expenses for audits and the examinations including the remuneration payable to the auditor.</p>
                                              </div>
                                          </div>
                                      </div> 
                            </div>
                        </div> <!-- end faq -->
                    </div> <!-- end discusssion-faq -->
                </div> <!-- end service-single-content -->
            </div> <!-- end col -->
            <div class="col col-md-4 col-md-pull-8">
                <div class="service-sidebar">
                    <div class="widget link-widget">
                        <ul>
                            <li><a [routerLink]="['/services']" >All Services</a></li>
                            <li ><a [routerLink]="['/GST-Registration']">GST Registration </a></li>
                            <li><a [routerLink]="['/GST-Retrurn-Filling']">GST Return Filing</a></li>
                            <li ><a [routerLink]="['/GST-Migration']">GST Migration</a></li>
                            <li ><a [routerLink]="['/GST-Software']">GST Software And Tool</a></li>
                            <li class="active"><a [routerLink]="['/GST-Assessment']">GST Assessment</a></li>
                            <li><a [routerLink]="['/GST-Service-Provider']">GSP And ASP Service Provider</a></li>
                        </ul>
                    </div>
                    
                    <div class="widget brochures-widget">
                        <h3>Brochures</h3>
                        <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                        <div class="btns">
                            <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                     </div>
                    </div>

                    <div class="widget contact-widget">
                        <h3>Contact</h3>
                        <ul>
                            <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                            <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                            <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- end service-single-section -->
  
  
  