 <!-- start page-title -->
 <section class="page-title">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <h2>GST Registration</h2>
              <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Home</a></li>
                <li>GST Registration</li>
              </ol>
          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-md-8 col-md-push-4">
              <div class="service-single-content">
                  <h3>What Do You Mean By GST Registration?</h3>
                  <p>Business whose turn over is greater than 20 lakh rupees are mandatory to register under GST. This process is known as GST Registration. And the GST Registration is mandatory for some businesses. This is mandatory for all the entities involving in the buying and selling or else providing the services in India. The duration of the GST Registration is hard for 2 to 6 days. GST Registration can be done in various cities like Bengaluru, Mumbai, Chennai and New Delhi. </p>
                  <div class="img-holder">
                      <img src="assets/images/3.png" alt>
                  </div>
                  <br>
               

                  <div class="discussion-v">
                        <div class="discussion">
                  <h4>Who all need to Register with GST?</h4>
                  <ul>
                      <li><i class="fa fa-adjust"></i> Individuals who registered under the Pre-GST Law like VAT, Excise, Service Tax.</li>
                      <li><i class="fa fa-adjust"></i> Having the annual income above the threshold limit of Rs.20 lakhs.</li>
                      <li><i class="fa fa-adjust"></i> The Casual Taxable Person and Non-Residential Taxable Persons who don’t have fixed business place.</li>
                      <li><i class="fa fa-adjust"></i> Supplying for other states.</li>
                      <li><i class="fa fa-adjust"></i> Supply of Goods and Services through e-commerce operator.</li>
                      <li><i class="fa fa-adjust"></i> Taxpayers under reverse charge mechanism.</li>
                      <li><i class="fa fa-adjust"></i> Supply of online information for the people living in other countries, other than the registered taxable person.</li>
                      <li><i class="fa fa-adjust"></i> The agents of the supplier and the input service distributor.</li>


                  </ul>
                  </div></div>

                  <div class="discussion-faq">
                      <div class="discussion">
                            <h4>Required Documents for GST Registration Process</h4>
                  <p>Individuals who all need to register under GST must have the following documents.</p>
                  <ul>
                        <li><i class="fa fa-adjust"></i>  PAN card of the Applicant.</li>
                        <li><i class="fa fa-adjust"></i>  Aadhaar Card.</li>
                        <li><i class="fa fa-adjust"></i>  Identity Proof or Address proof of the directors with photographs.</li>
                        <li><i class="fa fa-adjust"></i>  Bank Statement</li>
                        <li><i class="fa fa-adjust"></i>  Digital Signature</li>
                        <li><i class="fa fa-adjust"></i>  Authorization Letter for Signatory.</li>
                        <li><i class="fa fa-adjust"></i>  Address Proof for Business Place.</li>
                        <li><i class="fa fa-adjust"></i>  Business Required Document.</li>

                  </ul>
                      </div>

                      <div class="faq">
                          <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Who are exempted from the GST Registration ? </a>
                                  </div>
                                  <div id="collapse-1" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                          <p>The GST Registration is not mandatory for the people like:</p>
                                
                                                <div class="discussion faq-list">   
                                            <ul>
                                                        <li><i class="fa fa-adjust"></i>Who supply agriculture products from the cultivation. </li>
                                                        <li><i class="fa fa-adjust"></i>Makes non-taxable supply of goods and services.</li>
                                                        <li><i class="fa fa-adjust"></i>Making supplies under the reverse charge mechanism</li>

                                                </ul>
                                                </div>
                                            
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Who is a casual taxable person ?</a>
                                  </div>
                                  <div id="collapse-2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>Persons who have registered the business in India and having the supplies from other states in India without a fixed place of business, Such persons are known as Casual Taxable Persons.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">What do you mean by ARN in GST Registration ?</a>
                                  </div>
                                  <div id="collapse-3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>ARN refers to the Application Reference Number which is proof after the submission of the application to the GST servers. And this is generated by the Temporary Reference Number (TRN) and uploading of the documents.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Can we register for GST voluntarily ?</a>
                                    </div>
                                    <div id="collapse-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Yes, entities claiming the input tax credit can register voluntarily, even if it is not liable to register.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Registration granted for any person is permanent or not ?</a>
                                        </div>
                                        <div id="collapse-5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Once the registration is granted, it is permanent unless it is canceled, suspended.</p>
                                            </div>
                                        </div>
                                    </div>
                          </div>
                      </div> <!-- end faq -->
                  </div> <!-- end discusssion-faq -->
              </div> <!-- end service-single-content -->
          </div> <!-- end col -->
          <div class="col col-md-4 col-md-pull-8">
              <div class="service-sidebar">
                  <div class="widget link-widget">
                      <ul>
                          <li><a [routerLink]="['/services']" >All Services</a></li>
                          <li class="active"><a [routerLink]="['/GST-Registration']">GST Registration </a></li>
                          <li><a [routerLink]="['/GST-Retrurn-Filling']">GST Return Filing</a></li>
                          <li><a [routerLink]="['/GST-Migration']">GST Migration</a></li>
                          <li><a [routerLink]="['/GST-Software']">GST Software And Tool</a></li>
                          <li><a [routerLink]="['/GST-Assessment']">GST Assessment</a></li>
                          <li><a [routerLink]="['/GST-Service-Provider']">GSP And ASP Service Provider</a></li>
                        </ul>
                  </div>
                 
                  <div class="widget brochures-widget">
                      <h3>Brochures</h3>
                      <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                      <div class="btns">
                          <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                   </div>
                  </div>

                  <div class="widget contact-widget">
                    <h3>Contact</h3>
                    <ul>
                        <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                        <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                        <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                    </ul>
                </div>
             
                </div>

          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end service-single-section -->


