<!--  <app-header-top></app-header-top>
<app-header-nav></app-header-nav>
<app-banner></app-banner>
<app-services-section></app-services-section>
<app-about-section></app-about-section>
<app-projects-section></app-projects-section>
<app-counters></app-counters>
<app-team></app-team>
<app-contact></app-contact>
<app-blog></app-blog>
<app-partners></app-partners>
<app-footer-top></app-footer-top>
<app-footer-copyright></app-footer-copyright> -->

<!-- <app-all-services></app-all-services> -->


<app-header-top></app-header-top>
<app-header-nav></app-header-nav>
<router-outlet></router-outlet>
<app-footer-top></app-footer-top>
<app-footer-copyright></app-footer-copyright>

