 <!-- start page-title -->
 <section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Terms Of Use</h2>
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li>Terms Of Use</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>        
  <!-- end page-title -->
  
  
  <!-- start service-single-section -->
  <section class="service-single-section section-padding">
    <div class="container">
        <div class="row">
               <div class="service-single-content">
                    <div class="discussion-faq">
                        <div class="faq">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" > Terms of Use</a>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                                <p>If you would like to use the services of the Gstgola you need to agree to the terms and conditions. Otherwise, you will not be accessible to use the Gstgola website. In order to accept the terms you need to create an account for the services at our website. By visiting the website you can access the information, resources, products, and services, if you agree to accept the terms and conditions as stated in the privacy policy. It is your responsibility to review the user agreement often to notice the changes that are made in the agreement policy. 
                                                </p>                                                 
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">General Conditions</a>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="discussion">
                                                    <ul>
                                                            <li><i class="fa fa-adjust"></i>By accepting the terms and conditions you agree not to resell, reproduce or duplicate any kind of services without any permission of the Gstgola.</li>
                                                            <li><i class="fa fa-adjust"></i>Also, you should not send the unwanted or spam emails or SMS. </li>
                                                            <li><i class="fa fa-adjust"></i>Do not use the service to transmit the virus or other malicious content..</li>
                                                            <li><i class="fa fa-adjust"></i>From the services you can understand that during the transmission of the content the data will be unencrypted on the internet.</li>
                                                        
                                                        </ul>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"> Provisions of Services </a>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="discussion">
                                            <ul>
                                                <li><i class="fa fa-adjust"></i>Gstgola innovatively provides the best experience for its users and nature of services may change from the time to time without the proper notice.</li>
                                                <li><i class="fa fa-adjust"></i>It is clear that if Gstgola disable your account then you will not be able to access any kind of information from Gstgola.</li>
                                                <li><i class="fa fa-adjust"></i>You agree to that you will not engage in any of the disrupts of the service.</li>
                                                <li><i class="fa fa-adjust"></i>You are responsible for any of the obligations under the terms and consequences.</li>
                                            
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4"> License of Agreement </a>
                                    </div>
                                    <div id="collapse-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Gstgola allows to create the invoice of our clients and basically the license means the terms and conditions for using the Gstgola website. It offers both the free and paid licenses. Make a note that any limitations applicable to the different subscriptions. And all the charges are non-refundable even if we stop using the service. The paid licenses are billed in advance for the delivery of that service. </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5"> Responsible Use and Conduct </a>
                                    </div>
                                    <div id="collapse-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="discussion">
                                                <ul>
                                                        <li><i class="fa fa-adjust"></i>In order to access the resources, you need to provide a certain amount of information such as email, mobile number, and other contact details etc.</li>
                                                        <li><i class="fa fa-adjust"></i>You should be responsible to maintain the login information confidentially which is associated with your account.
                                                        <li><i class="fa fa-adjust"></i>Any attempts of copy, duplication, sell, trade is strictly prohibited. </li>
                                                        <li><i class="fa fa-adjust"></i>And you are solely responsible for any loss, damage which indirectly suffer due to unauthorized activities conducted by us.</li>

                                                </ul>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-6" > Copyrights</a>
                                        </div>
                                        <div id="collapse-6" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                   <p>In this website the all the information that is available is owned and licensed by Gstgola.com. The materials that include in the website like code, name, logos, layout and appearance etc are protected by copyrights notice. Any irrelevant use of reproduction, limitation, or the transmission of any content on this website is strictly prohibited.   
                                                    </p>                                               
                                            </div>
                                        </div>
                                    </div>
  
                            </div>
                        </div> <!-- end faq -->
                    </div> <!-- end discusssion-faq -->
                </div> <!-- end service-single-content -->
          
        
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- end service-single-section -->
  
  
  