 <!-- start page-title -->
 <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <h2>Bank Transactions</h2>
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/']">Home</a></li>
                        <li>Bank Transactions</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
      </section>        
      <!-- end page-title -->
      
      
      <!-- start service-single-section -->
      <section class="service-single-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-md-push-4">
                    <div class="service-single-content">
<!--                         <h3>What Do You Mean By GST Registration?</h3>
 -->                        <p>Complete inflow and outflow of the capital or money will be managed in this module. Every organization or business like small scale, large scale requires maintenance of the financial accounts. Hence our ERP Services will maintain the clear-cut information about the bank transactions. </p>
                        <div class="img-holder">
                            <img src="assets/images/bank.jpg" alt>
                        </div>
                        <br><br>
                        <p>A Core part of any ERP System is financing i.e., Bank Transactions. It collects the various information from the finance departments and generates the credit and debit reports of the particular purchase or sale. We GstGola often provides the detail information about the flow of cash and also how it is utilized. And aslo we offer the facility to track the financial data of multiple languages, currencies, and companies.</p>
                     
                        <p>Our GstGola ERP Services offers the booming features are designed for handling all the budgeting needs. Keeps on integrating the modules to increase the efficiency and accuracy of the credits and debits. The ERP service system of GstGola the intercompany loan accounts and these intercompany transactions often signifies or simplifies the work of the intercompany accounting. The account receivables help in tracking all the payments that are waiting for the customer payments.</p>
      
                        <div class="discussion-faq">
                            <div class="discussion">
                                  <h4>Key Capabilities of GstGola Bank Transactions</h4>
                        <p>Runs flexible financial accounting process more efficiently faster and also with great accuracy.</p>
                        <ul>
                              <li><i class="fa fa-adjust"></i>  It often supports the complicated financial accounting and reporting levels.</li>
                              <li><i class="fa fa-adjust"></i>  Maintains records of all the financial process with a complete general ledger.</li>
                              <li><i class="fa fa-adjust"></i>  Accelerates accounting by managing the integration process which can be maintained in right time.</li>
                              <li><i class="fa fa-adjust"></i>  Also incorporates the legalized and administrative process in one application.</li>
                              <li><i class="fa fa-adjust"></i>  The major functionality of this software is that creating of accounts.</li>
                              <li><i class="fa fa-adjust"></i>  We can generate the payments and receivables statements using this ERP Service.</li>
                            
                        </ul>
                            </div>
      
                           <!--  <div class="faq">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Who are exempted from the GST Registration ? </a>
                                        </div>
                                        <div id="collapse-1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>The GST Registration is not mandatory for the people like:</p>
                                      
                                                      <div class="discussion faq-list">   
                                                  <ul>
                                                              <li><i class="fa fa-adjust"></i>Who supply agriculture products from the cultivation. </li>
                                                              <li><i class="fa fa-adjust"></i>Makes non-taxable supply of goods and services.</li>
                                                              <li><i class="fa fa-adjust"></i>Making supplies under the reverse charge mechanism</li>
      
                                                      </ul>
                                                      </div>
                                                  
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Who is a casual taxable person ?</a>
                                        </div>
                                        <div id="collapse-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Persons who have registered the business in India and having the supplies from other states in India without a fixed place of business, Such persons are known as Casual Taxable Persons.</p>
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">What do you mean by ARN in GST Registration ?</a>
                                        </div>
                                        <div id="collapse-3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>ARN refers to the Application Reference Number which is proof after the submission of the application to the GST servers. And this is generated by the Temporary Reference Number (TRN) and uploading of the documents.</p>
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="panel panel-default">
                                          <div class="panel-heading">
                                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Can we register for GST voluntarily ?</a>
                                          </div>
                                          <div id="collapse-4" class="panel-collapse collapse">
                                              <div class="panel-body">
                                                  <p>Yes, entities claiming the input tax credit can register voluntarily, even if it is not liable to register.</p>
                                              </div>
                                          </div>
                                      </div>
      
                                      <div class="panel panel-default">
                                              <div class="panel-heading">
                                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Registration granted for any person is permanent or not ?</a>
                                              </div>
                                              <div id="collapse-5" class="panel-collapse collapse">
                                                  <div class="panel-body">
                                                      <p>Once the registration is granted, it is permanent unless it is canceled, suspended.</p>
                                                  </div>
                                              </div>
                                          </div>
                                </div>
                            </div> --> <!-- end faq -->
                        </div> <!-- end discusssion-faq -->
                    </div> <!-- end service-single-content -->
                </div> <!-- end col -->
                <div class="col col-md-4 col-md-pull-8">
                    <div class="service-sidebar">
                        <div class="widget link-widget">
                            <ul>
                                <li><a [routerLink]="['/ERP']" >All ERP Services</a></li>
                                <li ><a [routerLink]="['/ERP-Products']">Products </a></li>
                                <li><a [routerLink]="['/ERP-Purchases']">Purchases</a></li>
                                <li><a [routerLink]="['/ERP-Assets']">Assets and Liabilities</a></li>
                                <li class="active"><a [routerLink]="['/bank']">Bank Transactions</a></li>
                                <li><a [routerLink]="['/ERP-Profit-Loss']">Profit and Loss</a></li>
                                <li><a [routerLink]="['/ERP-Expenses']">Expenses</a></li>
                                <li><a [routerLink]="['/ERP-User-Management']">User management</a></li>
                                <li><a [routerLink]="['/ERP-Vendor-Management']">Vendor Management</a></li>
      


                              </ul>
                        </div>
                       
                        <div class="widget brochures-widget">
                            <h3>Brochures</h3>
                            <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                            <div class="btns">
                                <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                         </div>
                        </div>
      
                        <div class="widget contact-widget">
                          <h3>Contact</h3>
                          <ul>
                              <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                              <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                              <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                          </ul>
                      </div>
                   
                      </div>
      
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
      </section>
      <!-- end service-single-section -->
      
      
      