 <!-- start about-section -->
 <section class="section-padding about-section-s3">
  <div class="container">
      <div class="row">
          <div class="col col-lg-8 col-md-10">
              <div class="section-title-s2">
                  <h2>We deliver high performance with the clients’ projected satisfaction</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col col-md-7">
              <div class="about-details">
                   
                  <h3>GST Compliant Invoices</h3>
                  <p>GstGola helps you create and send the invoices to the customers and get paid. And we care for all the details like location of supply, GSTIN, HSN Codes etc in each invoice. Also, customize your invoices for branding.</p>
                  <h3>Input Tax Credit Calculation</h3>   
                  <p>GstGola calculates the Input Tax Credits (ITC) effortlessly. You can approve the transactions and check out the ITC calculation method of Gstgola.</p>
                 <h3>Customizable</h3>
                  <p>GstGola helps in building the layers of functionality that support lots of business models in GST. </p>
                   <h3>Records GST on All Transactions</h3>   
                  <p>Just enter your GSTIN number and the tax rates then Gstgola will display all the tax components to be paid.</p> 
          
                </div>

          </div>

          <div class="col col-md-5">
              <div class="about-chart">
                  <img src="assets/images/gst1.jpg" alt>
              </div>
          </div>
      </div>
  </div> <!-- end container -->
</section>
<!-- end about-section -->
