<!-- start services-section-s3 -->
<section class="services-section-s3 section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-md-8 col-md-offset-2">
              <div class="section-title-s3">
                  <h2>Welcome to GSTGOLA</h2>
<p>GST is an indirect tax lived on the supply of goods and services. GstGola is here to help you with all the needs under GST process. From Our GstGola, you can register, return file, invoices, etc under Goods and Service Tax (GST). </p>              </div>
          </div>
      </div>
      <div class="row">
          <div class="col col-xs-12">
              <div class="services-s2-grids">
                  <div class="grid">
                      <div class="inner">
                          <div class="icon">
                            <img class="svi" src="assets/svg-icons/gst-terms.svg" alt="gst-terms">
                          </div>
                          <div class="details">
                              <h3><a href="#">GST Terms</a></h3>
                              <p>Goods and Service Tax (GST) has come up with the new terms and definitions that every business man has to be familiar with.</p>
                          </div>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="inner">
                          <div class="icon">
                            <img class="svi" src="assets/svg-icons/gst-accounting-software.svg" alt="gst-accounting-software">
                          </div>
                          <div class="details">
                              <h3><a href="#">GST Accounting Software</a></h3>
                              <p>Many businesses fail all because of their irregular way of maintaining accounts and records. One must have the best GST Software for their Accounts.</p>
                          </div>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="inner">
                          <div class="icon">
                                
                            <img class="svi" src="assets/svg-icons/gst-composition-scheme.svg" alt="gst-composition-scheme">
                          </div>
                          <div class="details">
                              <h3><a href="#">GST Composition Scheme</a></h3>
                              <p>In this scheme, the taxpayers do not have to maintain every record under the Goods and Service Tax. </p>
                          </div>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="inner">
                          <div class="icon">
                            <img class="svi" src="assets/svg-icons/gst-refund-process.svg" alt="gst-refund-process">
                          </div>
                          <div class="details">
                              <h3><a href="#">GST Refund Process</a></h3>
                              <p>This Refund process is all about the flow of funds. A slight delay in the GST refunds will impact the    working capital and the cash flow in the business.</p>
                          </div>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="inner">
                          <div class="icon">
                            <img class="svi" src="assets/svg-icons/gst-impementation.svg" alt="gst-implementation">
                          </div>
                          <div class="details">
                              <h3><a href="#">GST Implementation</a></h3>
                              <p>Implementation of GST enhances the tax base as most of the goods and services come with the minimum exemptions.</p>
                          </div>
                      </div>
                  </div>
                  <div class="grid">
                      <div class="inner">
                          <div class="icon">
                            <img class="svi" src="assets/svg-icons/gst-invoice.svg" alt="gst-invoice">
                          </div>
                          <div class="details">
                              <h3><a href="#">GST Invoice</a></h3>
                              <p>Invoice is familiar to all those who sell goods and services around the globe. There has been a clear format for each invoice such as retail, excise, and tax.</p>
                          </div>
                      </div>
                  </div>
                   <div class="grid">
                    <div class="inner">
                        <div class="icon">
                            <img class="svi" src="assets/svg-icons/input-tax-credit.svg" alt="input-tax-credit">
                        </div>
                        <div class="details">
                            <h3><a href="#">Input Tax Credit</a></h3>
                            <p>ST Input Tax Credit (ITC) reduces the amount of tax that you have paid on the inputs and returns back you the balance amount.</p>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="inner">
                        <div class="icon">
                            <img class="svi" src="assets/svg-icons/gst-registration.svg" alt="gst-registartion">
                        </div>
                        <div class="details">
                            <h3><a href="#">GST Registration</a></h3>
                            <p>Businesses whose supply of goods and services exceeds Rs.20 lakhs must register under GST. The GST Online Registration is mandatory for the NRI taxable individuals.</p>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="inner">
                        <div class="icon">
                            <img class="svi" src="assets/svg-icons/gst-accountsandrecords.svg" alt="gst-accountsandrecords">
                        </div>
                        <div class="details">
                            <h3><a href="#">GST Accounts and Records</a></h3>
                            <p>Every taxpayer must feel responsible for maintaining the records and accounts of the Goods and Services Tax. Even the owner, operator of the warehouse for storage of goods, the transporter must definitely maintain the accounts.</p>
                        </div>
                    </div>
                </div> 
              </div>
          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>        
<!-- end services-section-s3 -->
