 <!-- start page-title -->
 <section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>User Management</h2>
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li>User Management</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>        
  <!-- end page-title -->
  
  
  <!-- start service-single-section -->
  <section class="service-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-push-4">
                <div class="service-single-content">
  <!--                         <h3>What Do You Mean By GST Registration?</h3>
  -->  <p>We GstGola provides the best user management feature which helps in creating and as well as changing the username and passwords. With the help of this user management, you can create various types of users and also assign the authorization roles for controlling the applications. </p>
        <p>This level offers the possibility of defining the various levels to access the information of a different group of users. Here are the types of users that are classified as follows according to our GstGola ERP Services. Our ERP Service consists of Super Admin, Admin, and Users. All the users or employees data is controlled by the super admin.</p>
  <div class="img-holder">
                      <img src="assets/images/erp-user.png" alt>
                  </div>
                    <br>
                    <h4>Users</h4>
                    <p>They does not have any authorization rights in starting the sessions and accessing the data of a particular organization or company.</p>
                    <h4>Admin</h4>
                    <p>These people have all the authorization authorities and can create a number of users.</p> 
                    <h4>Super Admin</h4>
                    <p>One who maintains the number of admins and this super admin is the head for all the admins who have the complete data of the employees or users.</p> 
                   
                   
                    <div class="discussion-faq">
                        <div class="discussion">
                        <h4>Main Features of the User Management</h4>
                          <ul>
                          <li><i class="fa fa-adjust"></i> Creating the users or roles or groups.</li>
                          <li><i class="fa fa-adjust"></i> Provides security for the users.</li>
                          <li><i class="fa fa-adjust"></i> User Lists and Locations.</li>
                          <li><i class="fa fa-adjust"></i> Addition of users.</li>
                          <li><i class="fa fa-adjust"></i> Viewing the no.of users.</li>
                          <li><i class="fa fa-adjust"></i> Changing user settings.</li>
                          <li><i class="fa fa-adjust"></i> Listing and Locating the groups.</li>
                          <li><i class="fa fa-adjust"></i> Addition of groups.</li>
                          <li><i class="fa fa-adjust"></i> Change of group settings.</li>
                          <li><i class="fa fa-adjust"></i> And listing, locating and the addition of roles.</li>
                          <li><i class="fa fa-adjust"></i> Deletion of the users/roles/groups.</li>
                    </ul>

                        </div>
                        </div>
                      
                        <div class="discussion-faq">

                          <div class="discussion">
                                                    <h4>Benefits of User Management</h4>
                        <p>Here we are with some of the major things that you are benefitted from the GstGola User Management.</p>
                          <ul>
                          <li><i class="fa fa-adjust"></i>Secures the data of the company</li>
                          <li><i class="fa fa-adjust"></i>Highlights the internal flow of the company or organization</li>

                          <li><i class="fa fa-adjust"></i>Assigning the workflow of the employees without loading the additional information.</li>

                            </ul>
                            </div>
                            

  
                       <!--  <div class="faq">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Who are exempted from the GST Registration ? </a>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>The GST Registration is not mandatory for the people like:</p>
                                  
                                                  <div class="discussion faq-list">   
                                              <ul>
                                                          <li><i class="fa fa-adjust"></i>Who supply agriculture products from the cultivation. </li>
                                                          <li><i class="fa fa-adjust"></i>Makes non-taxable supply of goods and services.</li>
                                                          <li><i class="fa fa-adjust"></i>Making supplies under the reverse charge mechanism</li>
  
                                                  </ul>
                                                  </div>
                                              
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Who is a casual taxable person ?</a>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Persons who have registered the business in India and having the supplies from other states in India without a fixed place of business, Such persons are known as Casual Taxable Persons.</p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">What do you mean by ARN in GST Registration ?</a>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>ARN refers to the Application Reference Number which is proof after the submission of the application to the GST servers. And this is generated by the Temporary Reference Number (TRN) and uploading of the documents.</p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Can we register for GST voluntarily ?</a>
                                      </div>
                                      <div id="collapse-4" class="panel-collapse collapse">
                                          <div class="panel-body">
                                              <p>Yes, entities claiming the input tax credit can register voluntarily, even if it is not liable to register.</p>
                                          </div>
                                      </div>
                                  </div>
  
                                  <div class="panel panel-default">
                                          <div class="panel-heading">
                                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Registration granted for any person is permanent or not ?</a>
                                          </div>
                                          <div id="collapse-5" class="panel-collapse collapse">
                                              <div class="panel-body">
                                                  <p>Once the registration is granted, it is permanent unless it is canceled, suspended.</p>
                                              </div>
                                          </div>
                                      </div>
                            </div>
                        </div> --> <!-- end faq -->
                    </div> <!-- end discusssion-faq -->
                </div> <!-- end service-single-content -->
            </div> <!-- end col -->
            <div class="col col-md-4 col-md-pull-8">
                <div class="service-sidebar">
                    <div class="widget link-widget">
                        <ul>
                            <li><a [routerLink]="['/ERP']" >All ERP Services</a></li>
                            <li><a [routerLink]="['/ERP-Purchases']">Purchases</a></li>
  
                            <li ><a [routerLink]="['/ERP-Products']">Products </a></li>
                            <li ><a [routerLink]="['/ERP-Sales']">Sales</a></li>
                            <li><a [routerLink]="['/ERP-Assets']">Assets and Liabilities</a></li>
                            <li ><a [routerLink]="['/bank']">Bank Transactions</a></li>
                            <li><a [routerLink]="['/ERP-Profit-Loss']">Profit and Loss</a></li>
                            <li><a [routerLink]="['/ERP-Expenses']">Expenses</a></li>
                            <li class="active"><a [routerLink]="['/ERP-User-Management']">User management</a></li>
                            <li><a [routerLink]="['/ERP-Vendor-Management']">Vendor Management</a></li>
  
  
  
                          </ul>
                    </div>
                   
                    <div class="widget brochures-widget">
                        <h3>Brochures</h3>
                        <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                        <div class="btns">
                            <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                     </div>
                    </div>
  
                    <div class="widget contact-widget">
                      <h3>Contact</h3>
                      <ul>
                          <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                          <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                          <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                      </ul>
                  </div>
               
                  </div>
  
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- end service-single-section -->
  
  
  