 <!-- start site-footer -->
 <footer class="site-footer">
  <div class="upper-footer">
      <div class="container">
          <div class="row">
              <div class="col col-md-4 col-sm-6">
                  <div class="widget about-widget">
                      <div class="footer-logo">
                          <a [routerLink]="['/']"><img src="assets/images/logo-3.png" alt></a></div>
                      <p>GstGola is the best GST Software providing website for the enterprises which helps out in almost everything related to the GST compliance. These days GST has a great impact on each and every business irrespective of the sectors.</p>
                      <ul class="contact-info">
                          <li><i class="fa fa-phone"></i> +123 (4567) 890  </li>
                          <li><i class="fa fa-envelope"></i> info@top-finance.com</li>
                          <li><i class="fa fa-home"></i> 380 St Kilda Road, Melbourne VIC 3004, Australia</li>
                      </ul>
                  </div>
              </div>

              <div class="col col-md-2 col-sm-6">
                  <div class="widget links-widget">
                      <h3>Links</h3>
                      <ul>
                          <li><a [routerLink]="['/']">Home</a></li>
                          <li><a [routerLink]="['/services']">Services</a></li>
                          <li><a [routerLink]="['/About']">About us</a></li>
                          <li><a href="#">Testimonials</a></li>
                          <li><a [routerLink]="['/News']">News</a></li>
                          <li><a [routerLink]="['/Contact-Nav']">Contact</a></li>
                      </ul>
                  </div>
              </div>

              <div class="col col-md-3 col-sm-6">
                  <div class="widget support-widget">
                      <h3>Support</h3>
                      <ul>
                          <li><a [routerLink]="['/Contact-Nav']">Contact Us</a></li>
                          <li><a href="#">Submit a Ticket</a></li>
                          <li><a href="#">Visit Knowledge Base</a></li>
                          <li><a href="#">Support System</a></li>
                          <li><a [routerLink]="['/Terms']">Terms And Conditions</a></li>
                          <li><a [routerLink]="['/Privacy-Policy']">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>

             <!--  <div class="col col-md-3 col-sm-6">
                  <div class="widget twitter-feed-widget">
                      <h3>Twitter Feed</h3>
                      <ul>
                          <li>
                              <div class="text">
                                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Ed quia con sequuntur magni dolores.</p>
                              </div>
                              <div class="info-box">
                                  <i class="fa fa-twitter"></i>
                                  <strong><a href="#">@Mark Wahlberg</a></strong>
                              </div>
                          </li>
                          <li>
                              <div class="text">
                                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Ed quia con sequuntur magni dolores.</p>
                              </div>
                              <div class="info-box">
                                  <i class="fa fa-twitter"></i>
                                  <strong><a href="#">@Mark Wahlberg</a></strong>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div> -->
          </div>
      </div>
  </div> <!-- end upper-footer -->
  </footer>