 <!-- start page-title -->
 <section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Privacy Policy</h2>
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li>Privacy Policy</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>        
  <!-- end page-title -->
  
  
  <!-- start service-single-section -->
  <section class="service-single-section section-padding">
    <div class="container">
        <div class="row">
               <div class="service-single-content">
                    <div class="discussion-faq">
                        <div class="faq">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" > Gstgola Privacy Policy</a>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                          <div class="discussion">
                                            <ul>
                                              <li><i class="fa fa-adjust"></i>We Gstgola will value for your privacy and you can visit our website without providing any information to us. And in case sometimes we need some information about you. Our web servers collect the domain names of a particular visitor for measuring the average time spent on the website, no.of page views, and etc. Gstgola does not share any kind of information about you except in the case of the products and services which you have requested or when we have the permissions from you.</li>
                                              <li><i class="fa fa-adjust"></i>Gstgola will give you the importance of protection and respect the privacy of the clients or customers. We make our clients feel comfortable while using the products and services. The Gstgola is committed to protect your privacy and entrust your personal tax return information.</li>
                                            </ul>


                                          </div>
                                           
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Object of Policy</a>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           <p>For preventing the unauthorized access to the website, maintain the data accuracy to ensure the relevant use of information. Gstgola utilizes the technical and administrative process to protect the information that we collect.</p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"> Collection of Information </a>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           <p>Whenever the users look for the product or service from Gstgola we ask for the data such as name, address, and mobile number. This information is useful for maintenance of the Gstgola account information. And as well as we collect the data about your income, credits, dependents for providing the audit defense service. </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4"> Information Security </a>
                                    </div>
                                    <div id="collapse-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <p>We often protect the personal as well as the tax return information using the security safeguards and also maintains the electronic safeguards for all the tax return information. </p>
                                                                              </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5"> Non-Personal Identification Information </a>
                                    </div>
                                    <div id="collapse-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>We collect the non-personal identification information about the users when the users interact with our website. This non-personal information includes the browser name, type of the computer, technical information about the users. And the other information such as operating systems as well as the internet service providers that are utilized.
                                              </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-6" > Changes to Privacy Policy</a>
                                        </div>
                                        <div id="collapse-6" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                  <p>It is important to note that all the above-mentioned privacy policy changes from time to time and we update our policies on this page if we think that they are more significant.  </p>                                               
                                            </div>
                                        </div>
                                    </div>
  
                            </div>
                        </div> <!-- end faq -->
                    </div> <!-- end discusssion-faq -->
                </div> <!-- end service-single-content -->
          
        
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- end service-single-section -->
  
  
  