  <!-- start team-section -->
  <section class="team-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3">
                <div class="section-title-s5">
                    <h2>Our team</h2>
                    <p>Excepteur sint occaecat cupi datat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. nostrud exercitation.</p>
                    <a href="#" class="all-member">All Members <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col col-lg-9">
                <div class="team-grids">
                    <div class="grid">
                        <div class="member-pic">
                            <img src="assets/images/team/img-1.jpg" alt>
                        </div>
                        <div class="member-info">
                            <h4>Kylo Ren</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="member-pic">
                            <img src="assets/images/team/img-2.jpg" alt>
                        </div>
                        <div class="member-info">
                            <h4>Kylo Ren</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="member-pic">
                            <img src="assets/images/team/img-3.jpg" alt>
                        </div>
                        <div class="member-info">
                            <h4>Kylo Ren</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="member-pic">
                            <img src="assets/images/team/img-4.jpg" alt>
                        </div>
                        <div class="member-info">
                            <h4>Kylo Ren</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="member-pic">
                            <img src="assets/images/team/img-5.jpg" alt>
                        </div>
                        <div class="member-info">
                            <h4>Kylo Ren</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="member-pic">
                            <img src="assets/images/team/img-6.jpg" alt>
                        </div>
                        <div class="member-info">
                            <h4>Kylo Ren</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end team-section -->
