 <!-- start page-title -->
 <section class="page-title">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <h2>Assets and Liabilities</h2>
              <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Home</a></li>
                <li>Assets and Liabilities</li>
              </ol>
          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-md-8 col-md-push-4">
              <div class="service-single-content">
<!--                         <h3>What Do You Mean By GST Registration?</h3>
-->                        <p>Assets add values to your business and also increase company’s equity where the liabilities decrease the values and equity of the company. The more Assets of your company overcome the liabilities, and that brings the financial growth to your business. If your company is with more liabilities than assets, then you may be on the cusp of going out of your business.  </p>
                  <div class="img-holder">
                      <img src="assets/images/erp-assets.jpg" alt>
                  </div>
                  <br>
<!-- <p>From our GstGola, you are allowed to check the statistics of the supplier’s performance through their reporting like discounts given on the products, quantities purchased, delivery delays, etc. And from here, you can make the sales orders, share products, supplier’s customers, and also maintain the invoices for companies.</p>               
<p>ERP is a leading business which helps you to handle the deliveries and that allows you to track the items of your purchase. GstGola also gives the price list of the items, so that you can make your decision smarter. Our integrated purchase management solution gives you the simplified interface to make the best decisions on purchase.</p> -->
                  <div class="discussion-faq">
                      <div class="discussion">
                            <h4>Assets</h4>
                                <p>Assets are the resources for your business that gives you the future economic benefit. Assets add value to your business where you can increase your company’s equity. The assets are classified to current assets and non-current assets.</p>
                                <p><strong>Current Assets:</strong> Current assets are the items that are completely consumed or sold. Or the assets are entirely converted into cash within the 12 months. Examples are current assets as follows:</p>
                                    <ul>
                                        <li><i class="fa fa-adjust"></i> <strong>Cash and Cash Equivalence:</strong> Cash and Cash Equivalence includes coins, funds, bills, cash in bank, checks, etc.</li>
                                         <li><i class="fa fa-adjust"></i>  <strong>Receivables:</strong> Receivables means accounts, rent, interest, receivable from the customers. Or due received from the employers, etc.</li>
                                        <li><i class="fa fa-adjust"></i>  <strong>Inventories:</strong> Assets held for sale</li>
                                          <li><i class="fa fa-adjust"></i>  <strong>Prepaid Expenses:</strong> Prepaid Expenses means money paid in advance like prepaid insurance, advertisements, rent, etc.</li>
                      
                                      </ul>

                                      <p><strong>Non-Current Assets:</strong> Non-current assets are the long-term investments of the company, and the values will not be accomplished within the 12 months. Non-current Assets examples are given below</p>
                                      <ul>
                                          <li><i class="fa fa-adjust"></i> <strong>Long-Term Investment:</strong>  Investments are made with the long-term process, i.e., investments in properties, stocks, etc.</li>
                                           <li><i class="fa fa-adjust"></i>  <strong>Land:</strong> The Land area used only for business purpose.</li>
                                          <li><i class="fa fa-adjust"></i>  <strong>Building:</strong> Building includes office factory, store, warehouse buildings.</li>
                                          <li><i class="fa fa-adjust"></i>  <strong>Equipment:</strong> Equipment offers furniture, machinery, and all the office, computer equipment, etc.</li>

                                        </ul>
                      </div>


                      




                     <!--  <div class="faq">
                          <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Who are exempted from the GST Registration ? </a>
                                  </div>
                                  <div id="collapse-1" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                          <p>The GST Registration is not mandatory for the people like:</p>
                                
                                                <div class="discussion faq-list">   
                                            <ul>
                                                        <li><i class="fa fa-adjust"></i>Who supply agriculture products from the cultivation. </li>
                                                        <li><i class="fa fa-adjust"></i>Makes non-taxable supply of goods and services.</li>
                                                        <li><i class="fa fa-adjust"></i>Making supplies under the reverse charge mechanism</li>

                                                </ul>
                                                </div>
                                            
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Who is a casual taxable person ?</a>
                                  </div>
                                  <div id="collapse-2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>Persons who have registered the business in India and having the supplies from other states in India without a fixed place of business, Such persons are known as Casual Taxable Persons.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">What do you mean by ARN in GST Registration ?</a>
                                  </div>
                                  <div id="collapse-3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <p>ARN refers to the Application Reference Number which is proof after the submission of the application to the GST servers. And this is generated by the Temporary Reference Number (TRN) and uploading of the documents.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Can we register for GST voluntarily ?</a>
                                    </div>
                                    <div id="collapse-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Yes, entities claiming the input tax credit can register voluntarily, even if it is not liable to register.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">Registration granted for any person is permanent or not ?</a>
                                        </div>
                                        <div id="collapse-5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Once the registration is granted, it is permanent unless it is canceled, suspended.</p>
                                            </div>
                                        </div>
                                    </div>
                          </div>
                      </div> --> <!-- end faq -->
                  </div> <!-- end discusssion-faq -->
                  <div class="discussion-faq">

                  <div class="discussion">
                    <h4>Liabilities</h4>
                    <p>Liabilities are the financial obligations of any business. Liabilities are also classified into current and non-current liabilities.</p>
                        <p><strong>Current Liabilities:</strong> Current liabilities are the obligations or debts which are done within 12 months. Current liabilities are paid with the current assets. Examples of current liabilities are listed below.</p>
                            <ul>
                                <li><i class="fa fa-adjust"></i> <strong>Trade & Other Payables:</strong> It includes rent payable, notes payable, accounts payable, interest payable, etc. </li>
                                 <li><i class="fa fa-adjust"></i>  <strong>Current Provisions:</strong> Current provisions are estimated as short-term liabilities which are measured reliably.</li>
                                <li><i class="fa fa-adjust"></i>  <strong>Short-term borrowings:</strong> Credit arrangements or loans which are in short-term nature.</li>
                                  <li><i class="fa fa-adjust"></i>  <strong>Current tax liabilities:</strong> Taxes which are payable.</li>
              
                              </ul>

                              <p><strong>Non-Current Liabilities:</strong> Non-current liabilities are the long-term obligations. And the liabilities are turned into the noncurrent when they are not paid within the time duration (12 months). Non-current liabilities include the following</p>
                              <ul>
                                  <li><i class="fa fa-adjust"></i>  Long-term bonds, notes, etc.</li>
                                   <li><i class="fa fa-adjust"></i> Deferred tax liabilities</li>
                                  <li><i class="fa fa-adjust"></i>  All other long-term obligations.</li>


                                </ul>
              </div>
              </div>
              </div> <!-- end service-single-content -->
          </div> <!-- end col -->
          <div class="col col-md-4 col-md-pull-8">
              <div class="service-sidebar">
                  <div class="widget link-widget">
                      <ul>
                          <li><a [routerLink]="['/ERP']" >All ERP Services</a></li>
                          <li ><a [routerLink]="['/ERP-Purchases']">Purchases</a></li>
                          <li ><a [routerLink]="['/ERP-Products']">Products </a></li>

                          <li><a [routerLink]="['/ERP-Sales']">Sales</a></li>
                          <li class="active"><a [routerLink]="['/ERP-Assets']">Assets and Liabilities</a></li>
                          <li ><a [routerLink]="['/bank']">Bank Transactions</a></li>
                          <li><a [routerLink]="['/ERP-Profit-Loss']">Profit and Loss</a></li>
                          <li><a [routerLink]="['/ERP-Expenses']">Expenses</a></li>
                          <li><a [routerLink]="['/ERP-User-Management']">User management</a></li>
                          <li><a [routerLink]="['/ERP-Vendor-Management']">Vendor Management</a></li>



                        </ul>
                  </div>
                 
                  <div class="widget brochures-widget">
                      <h3>Brochures</h3>
                      <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                      <div class="btns">
                          <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                   </div>
                  </div>

                  <div class="widget contact-widget">
                    <h3>Contact</h3>
                    <ul>
                        <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                        <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                        <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                    </ul>
                </div>
             
                </div>

          </div>
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end service-single-section -->


