 <!-- start services-section-s2 -->
 <section class="services-section-s2 section-padding">
  <div class="container">
<div class="row">
        <div class="col col-md-8 col-md-offset-2">
            <div class="section-title-s3">
                <h2>Our ERP Services</h2>
<p>The ERP Services offered by the GstGola are designed to make sure that the customers derive the maximum benefit of the ERP. Choosing the best ERP service provider leads your organization or company to grow in the right path. GstGola has a lot of experience in implementing the ERP turn outs for most of the customers. </p>              </div>
        </div>
    </div>
      <div class="row">


            <div class="col col-md-4">
                    <div class="services-s2-grids">
                        <div class="grid">
                            <div class="right_inner">
                                <div class="right">
                                    <img src="assets/svg-icons/erp-purchases.svg" class="svi" alt="erp-purchases">
                                </div>
                                <div class="details">
                                    <h3><a [routerLink]="['/ERP-Purchases']">Purchases</a></h3>
                                    <p>Automates the process to identify the potential suppliers and the process of billing..</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="right_inner">
                                <div class="right">
                                        <img src="assets/svg-icons/erp-products.svg" class="svi" alt="erp-products">

                                </div>
                                <div class="details">
                                    <h3><a [routerLink]="['/ERP-Products']">Products</a></h3>
                                    <p>Product maintenance is important for any business to increase the financial growth.</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="right_inner">
                                <div class="right">
                                        <img src="assets/svg-icons/erp-sales.svg" class="svi" alt="erp-sales">

                                </div>
                                <div class="details">
                                    <h3><a [routerLink]="['/ERP-Sales']">Sales</a></h3>
                                    <p>Sales helps you to manage and track the sales process easier.</p>
                                </div>
                            </div>
                        </div>

                        <div class="grid">
                                <div class="right_inner">
                                    <div class="right">
                                            <img src="assets/svg-icons/erp-assets-liabilities.svg" class="svi" alt="erp-assets-liabilities">

                                    </div>
                                    <div class="details">
                                        <h3><a [routerLink]="['/ERP-Assets']">Assets and Liabilities</a></h3>
                                        <p>Assets help you to grow your business efficiently where liabilities gives a.....</p>
                                    </div>
                                </div>
                            </div>
                  </div>
              </div>

          <div class="col col-md-4">
              <div class="services-phone">
                  <div class="phone-bg"></div>
                  <img src="assets/images/phone.png" alt>
                  <div class="phone-inner">
                      <h3>Our Best <span>ERP Services</span></h3>
<!--                       <p>Don’t worry. We don’t do rocket science</p>
 -->                      <a href="#" class="theme-btn-s2">Request a call Back</a>
                  </div>
              </div>

              <div class="services-s2-grids mob">
              <div class="grid vamsi">
                    <div class="inner">
                        <div class="icon">
                                <img src="assets/svg-icons/erp-bank-transactions.svg" class="svi" alt="erp-bank-transactions">

                        </div>
                        <div class="details">
                            <h3><a [routerLink]="['/bank']">Bank Transactions</a></h3>
                            <p>All the credit and debit information of the products will be recorded here.</p>
                        </div>
                    </div>
                </div>
          </div>
          </div>

         

        <div class="col col-md-4">
                <div class="services-s2-grids">
                 
                  <div class="grid">
                      <div class="inner">
                          <div class="icon">
                              <img class="svi" src="assets/svg-icons/erp-profit-loss.svg" alt="erp-profit-loss">
                          </div>
                          <div class="details">
                              <h3><a [routerLink]="['/ERP-Profit-Loss']">Profit and Loss</a></h3>
                              <p>Monthly and Annual Profit & Loss Statements which summarizes the costs,revenues....</p>
                          </div>
                      </div>
                  </div>

                  <div class="grid">
                        <div class="inner">
                            <div class="icon">
                                    <img src="assets/svg-icons/erp-expenses.svg" class="svi" alt="erp-expenses">

                            </div>
                            <div class="details">
                                <h3><a [routerLink]="['/ERP-Expenses']">Expenses</a></h3>
                                <p>Maintain all your expenses records for clear a idea on your expenses within the budget.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                            <div class="inner">
                                <div class="icon">
                                        <img src="assets/svg-icons/erp-user-management.svg" class="svi" alt="erp-user-management">

                                </div>
                                <div class="details">
                                    <h3><a [routerLink]="['/ERP-User-Management']">User Management</a></h3>
                                    <p>User Management is the core area of any business or organization for security.</p>
                                </div>
                            </div>
                        </div>

                        <div class="grid">
                                <div class="inner">
                                    <div class="icon">
                                            <img src="assets/svg-icons/erp-vendor-management.svg" class="svi" alt="erp-vendor-management">
                                        </div>
                                    <div class="details">
                                        <h3><a [routerLink]="['/ERP-Vendor-Management']">Vendor Management</a></h3>
                                        <p>Vendor Management helps in maintaining the relationships with the suppliers and...</p>
                                    </div>
                                </div>
                            </div>

                  
              </div>
          </div> 
      </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end services-section-s2 -->

