 <!-- start page-title -->
 <section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>GST Return Filling</h2>
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li>GST Return Filling</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>        
  <!-- end page-title -->
  
  
  <!-- start service-single-section -->
  <section class="service-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-push-4">
                <div class="service-single-content">
                    <h4>Who Have to File GST Returns?</h4>
                    <p>Business owners who have completed their GST registration have to return the GST files according to their business.</p>                   
                   
                    <div class="discussion-v">
                            <div class="discussion">
                                <h4>GST Return Filing Advantages</h4>
                                <ul>
                                        <li><i class="fa fa-adjust"></i><strong>Unified Platform:</strong>By implementing GST, all the indirect taxes are standardized. Business owners no need to maintain multiple VAT registrations under GST in different states. Single GST registration is enough for sale and purchase goods across India.</li>
                                        <li><i class="fa fa-adjust"></i><strong>Subsuming of Taxes: </strong>Central Sales Tax, Luxury Tax, Purchase Tax, etc. comes under subsuming taxes. But now, all the taxes are subsumed and made into single tax under GST.</li>
                                        <li><i class="fa fa-adjust"></i><strong>Ease of Doing Business: </strong>Many businesses have to comply with VAT as well as Service Tax regulations which create the compliance burden on business. But under GST, all the variations are gone between the goods and services.</li>
                                        <li><i class="fa fa-adjust"></i><strong>Lower taxes: </strong>In some states, businesses have to comply with VAT when they cross their annual turnover of Rs. 5 lakhs. Buts GST liability accrues when they cross an annual turnover of Rs. 20 lakhs in India and Rs. 10 lakhs in the northeast.</li>
                             </ul>
                                </div>
                                </div>
                 
                    <div class="img-holder">
                                <img src="assets/images/1.png" alt="">     
                    </div>
                    <br>
                    <p>GST return is a document which consists all the information of taxpayers sales, purchase, tax paid for your purchases (input tax), and collect tax on sales (output tax). GstGola is the leading GST service provider in India from GST registration to return filing. </p>

                    <div class="discussion-faq">
                        <div class="discussion">
                            <h4>How to File GST Returns ?</h4>
                            <ul>
                                    <li><i class="fa fa-adjust"></i><strong>GSTR - 1: </strong>Monthly Details of outward supplies of GST. Taxpayers have to file the GST Return by the 10th of every following month.</li>
                                    <li><i class="fa fa-adjust"></i><strong>GSTR - 2: </strong>Monthly Details of inward supplies and it has to be filed the GST Return by 15th of every following month.</li>
                                     <li><i class="fa fa-adjust"></i><strong>GSTR - 3: </strong>Monthly GST Return file with the payment of Tax and it has to be filed by on or before 20th of next month.</li>
                                     <li><i class="fa fa-adjust"></i><strong>GSTR - 9: </strong>Annual GST Return Filing which has to be paid by 31st of December of every financial year.</li>
                               
                               
                            </ul>
                        </div>
  
                        <div class="faq">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true"> Who does GST Return Filing ? </a>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Business owners who have registered under GST have to return the GST files according to their business. Even Nil GST return has to be filed under GST return.</p>
                                                  
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">What happens if the GST return is not filed on time ?</a>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>If the taxpayer has not filed their GST return within the due date, the taxpayer has to pay the late fee of Rs. 100 per day up to Rs. 5000.</p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">What is the Periodicity of GST Filing Return ?</a>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Periodicity has specified based on the type of registration and transactions. Foreign Non-Residents, Tax Deductors, and E-commerce Operators, Input Service Distributor, Regular taxpayers have to file the monthly GST returns.</p>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Can I pay the due taxes after filing the GST Return ?</a>
                                      </div>
                                      <div id="collapse-4" class="panel-collapse collapse">
                                          <div class="panel-body">
                                              <p>No, the returns will be invalid if the taxpayer has not paid the tax before filing the GST return.</p>
                                          </div>
                                      </div>
                                  </div>
  
                                  <div class="panel panel-default">
                                          <div class="panel-heading">
                                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">What type of GST returns need to be filed when a registered business terminates its operations permanently ?</a>
                                          </div>
                                          <div id="collapse-5" class="panel-collapse collapse">
                                              <div class="panel-body">
                                                  <p>If any business terminates permanently, all the operations of that business need to file the GSTR-10 which is also known as Final GST Return.</p>
                                              </div>
                                          </div>
                                      </div>
                            </div>
                        </div> <!-- end faq -->
                    </div> <!-- end discusssion-faq -->
                </div> <!-- end service-single-content -->
            </div> <!-- end col -->
            <div class="col col-md-4 col-md-pull-8">
                <div class="service-sidebar">
                    <div class="widget link-widget">
                        <ul>
                            <li><a [routerLink]="['/services']" >All Services</a></li>
                            <li ><a [routerLink]="['/GST-Registration']">GST Registration </a></li>
                            <li class="active"><a [routerLink]="['/GST-Retrurn-Filling']">GST Return Filing</a></li>
                            <li><a [routerLink]="['/GST-Migration']">GST Migration</a></li>
                            <li><a [routerLink]="['/GST-Software']">GST Software And Tool</a></li>
                            <li><a [routerLink]="['/GST-Assessment']">GST Assessment</a></li>
                            <li><a [routerLink]="['/GST-Service-Provider']">GSP And ASP Service Provider</a></li>
                        </ul>
                    </div>
                   
                    <div class="widget brochures-widget">
                        <h3>Brochures</h3>
                        <p>View our 2017 financial prospectus brochure for an easy to read guide on all of the services offer.</p>
                        <div class="btns">
                            <a href="#"><i class="fa fa-download"></i> Download Brochure</a>
                     </div>
                    </div>

                    <div class="widget contact-widget">
                        <h3>Contact</h3>
                        <ul>
                            <li><i class="fa fa-location-arrow"></i> 3111 West Allegheny Avenue Pennsylvania 19132</li>
                            <li><i class="fa fa-phone"></i> 1-982-782-5297 <br>1-982-125-6378</li>
                            <li><i class="fa fa-envelope"></i> support@top-finance.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- end service-single-section -->
  
  
  