   
        <!-- start about-section-s2 -->
        <section class="about-section-s2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="video">
                            <img src="assets/images/gst2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="about-text">
                                
                             <h2>Imports</h2>
                            <p>GstGola imports the data directly from the Tally, SAP, Excel and Business Accounting Software. Our GstGola imports are different from the other GST Competitors. </p>
                     
                            <div class="list-type3">
                                <ul>
                                    <li><a>It works with all versions of Tally.</a> </li>
                                    <li><a>Doesn’t require any manual data to be entered.</a></li>
                                    <li><a>100% Free Tool.</a></li>
                                    <li><a>It free of cost.</a></li>
                                    <li><a>Imports bulk amount of data within minutes.</a></li>
                                </ul>
                                </div>
                        </div>
                    </div>
                </div>
              <!--   <div class="row">
                    <div class="col col-sm-6">
                        <div class="about-text">
                            <h3>2018 finance analysis</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <a href="#" class="theme-btn">View Case Study</a>
                        </div>
                    </div>
                    </div> -->
                </div> <!-- end container -->
            </section>
